# Basic Start

In [1]:
print("Hello World")
print("again")

Hello World
again

In [2]:
fname="Tom"
lname="Jerry"

print(fname)
print(lname)

Tom
Jerry

In [3]:
fname="Tom"
lname="Jerry"

print(fname, lname)

Tom Jerry

In [6]:
fname="Tom"
lname="Jerry"

print(fname, lname, sep="\t")

Tom	Jerry

In [7]:
fname="Tom"
lname="Jerry"

print(fname, lname, end='    ')

Tom Jerry

# Variables

In [17]:
#VARIABLES -- PYTHON

#strings are immutable  -- the string literal are assigned with multiple containers

print(fname*5)  #use only +, * for string 

print(fname+lname)  # addition is used as concatenation

print('hello ' + fname, lname) 

print('hello ' + fname + ' how are you ')  # + works an operator 

age=20 

print('hello ' + fname,age,  ' how are you ')  # comma works as an separator
print(f'hello  {fname} {age}  how are you ') 


print(r"C:\Users/HUDA/OneDrive/Desktop/Huda Shaikh Resume.pdf")  # R is a raw string used to generate a source to give file location.

TomTomTomTomTom
TomJerry
hello Tom Jerry
hello Tom how are you
hello Tom 20  how are you
hello  Tom 20  how are you
C:\Users\HUDA\OneDrive\Desktop\Huda Shaikh Resume.pdf

# Indexing , Length , Nested loops

In [25]:
#Indexing, length

print(fname[1])  #indexing starts with 0

hi='hello world'
print(hi[-3])

print(hi[:])  #slice operator  
print(hi[1:7])


print(len(fname)) #length starts with 1

o
r
hello world
ello w
3

In [1]:
 #Examples -- flow control

a=int (input('Enter Number'))
if a<0:
    print( r'input is negative')
elif  a==0:
    print( r'not a number')
else: 
    print( r'input is positive')


print('end')

not a number
end

In [55]:

#Example  using tarnery operator

year=int (input('enter a year'))

if (year % 400 == 0 ) or ( year % 4 == 0 and year % 100 != 0):
    print ( f'{year} is a leap year.')
else: 
     print ( f'{year} is not leap year.')  #f is formatted string

2100 is not leap year.

In [59]:
#Example  using tarnery operator

year=int (input('enter a year'))

if (year % 400 == 0):
    print ( f'{year} is a leap year')
elif (year % 4 == 0 and year % 100 != 0 ):
    print ( f'{year} is a leap year.')
else:
    print ( f'{year} is not leap year.')

2024 is a leap year.

In [1]:
#Example 

x = 4

y = x + 1

x = 2

print(x, y)

2 5

In [11]:
# FLOW CONTROL PORTAL ASSIGNMENT

# Get user input
age_str = input("Enter age: ")
gender = input("Enter gender (M or F): ").upper()
marital_status = input("Enter marital status (Y or N): ").upper()

# Validate marital status
if marital_status not in ['Y', 'N']:
    print("ERROR: Invalid input for marital status")
else:
    # Validate age
        age = int(age_str)
        # Determine place of service based on rules
        if gender == 'F':
            print("Place of service: Urban areas")
        elif gender == 'M' and 20 <= age <= 40:
            print("Place of service: Anywhere")
        elif gender == 'M' and 40 <= age <= 60:
            print("Place of service: Urban areas only")
        else:
            print("ERROR: Invalid input for age or gender")

Place of service: Urban areas

In [2]:
# Portal Assignment Basic Hello, world! script in Python
print("Hello, world!")
print("Hello, world!")
print("Hello, world!")
print("Hello, world!")

Hello, world!
Hello, world!
Hello, world!
Hello, world!

In [3]:
# portal assignment Example 

str1 = "Welcome to USA. usa is awesome, isn't it?"

# Converting the string and target substring to lowercase for case-insensitive matching
str_lower = str1.lower()
target_substring = "usa"

# Find all occurrences of the target substring
occurrences = str_lower.count(target_substring)

print(f'The number of occurrences of "{target_substring}" (case-insensitive) is: {occurrences}')

The number of occurrences of "usa" (case-insensitive) is: 2

In [4]:
# Portal Assignment Example  

str1 = "Emma-is-a-data-scientist"

# Split the string on hyphens
substrings = str1.split('-')

# Display each substring
for substring in substrings:
    print(substring)

Emma
is
a
data
scientist

 # WHILE LOOP 

while (condition) :

	code block 
	code block
	repeating statements

else :

    code block
	code block

end 

Remember to assign 3 things in loop 

1) Conditions
2) Assignment
3) Increment and Decrement

In [6]:
# WHILE LOOP 

print("start loop")

i=1
while i < 6:
    print(i)
    i += 1
else:
     print("loop finished")

start loop
1
2
3
4
5
loop finished

In [14]:
# Example

print("start loop")

num = 2
while num < 12:
    print(num)
    num = num + 2
else:
     print("loop finished")

start loop
2
4
6
8
10
loop finished

- Infinite Loop

In [15]:
# INFINITE LOOP 

a = input('>')

while a !="quit":
    print(a)
    a = input('>')
else:
    print('end')

5
>
> 7
>
8
8
8
8
8
8
8
end

- Pass statement

In [23]:
# PASS Statement

a = input('>')

while ():
    
    pass

else:
    print('end')

end

- Break statement

In [28]:
# BREAK Statement 

num = 1
while num < 11:
    if (num > 3):
        break
    num = num + 1
    print(num)
else:
    print("end")

2
3
4

In [29]:
# Example of break statement

num = 1 
counter = 0
while (num < 11):
    #print('outer loop with num value', num)
    num1 = 1
    while (num1 < 11):
        if num1 > 5 :
            break
        print(f'inner loop with num value {num}, {num1}')

        num1 = num1 + 1
        counter = counter + 1
    num = num + 1
    print(counter)

inner loop with num value 1, 1
inner loop with num value 1, 2
inner loop with num value 1, 3
inner loop with num value 1, 4
inner loop with num value 1, 5
5
inner loop with num value 2, 1
inner loop with num value 2, 2
inner loop with num value 2, 3
inner loop with num value 2, 4
inner loop with num value 2, 5
10
inner loop with num value 3, 1
inner loop with num value 3, 2
inner loop with num value 3, 3
inner loop with num value 3, 4
inner loop with num value 3, 5
15
inner loop with num value 4, 1
inner loop with num value 4, 2
inner loop with num value 4, 3
inner loop with num value 4, 4
inner loop with num value 4, 5
20
inner loop with num value 5, 1
inner loop with num value 5, 2
inner loop with num value 5, 3
inner loop with num value 5, 4
inner loop with num value 5, 5
25
inner loop with num value 6, 1
inner loop with num value 6, 2
inner loop with num value 6, 3
inner loop with num value 6, 4
inner loop with num value 6, 5
30
inner loop with num value 7, 1
inner loop with num value 7, 2
inner loop with num value 7, 3
inner loop with num value 7, 4
inner loop with num value 7, 5
35
inner loop with num value 8, 1
inner loop with num value 8, 2
inner loop with num value 8, 3
inner loop with num value 8, 4
inner loop with num value 8, 5
40
inner loop with num value 9, 1
inner loop with num value 9, 2
inner loop with num value 9, 3
inner loop with num value 9, 4
inner loop with num value 9, 5
45
inner loop with num value 10, 1
inner loop with num value 10, 2
inner loop with num value 10, 3
inner loop with num value 10, 4
inner loop with num value 10, 5
50

- Continue Statement

In [9]:
# Continue Statement  -- even number

num = 0 
while num < 11:
    num = num + 1 
    if num % 2 :
        continue
    print(num)

2
4
6
8
10

In [15]:
#Continue Statement -- odd number 
num = 0 
while num < 10:
    num = num + 1 
    if num % 2 == 0 :
        continue
    print(num)

1
3
5
7
9

# For Loop

In [29]:
# For Loop -- odd number

for i in range(1, 20, 2):  # i stands for iterative and it has parameter like (start, stop, step)
    print(i)

1
3
5
7
9
11
13
15
17
19

In [38]:
# For loop -- table of 2 

for i in range(1, 11):
    print(f"2 x {i} = {2*i}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [13]:
# PORTAL ASSIGNMENT 

# Define the number of rows
num_rows = 5

# Loop through each row
for i in range(1, num_rows + 1):
    # Loop through each column in the current row
    for j in range(1, i + 1):
        print(j, end=" ")  # Print the current number followed by a space
    print()  # Move to the next line after each row

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# Functions

- Function is a block of code or Set of instruction which is only work when it is call..
- It avoids repetition and makes code reusable.
- Help break our program into smaller and modular chunks. As our program grows larger and bigger , functions make it more organized and manageable.

In [20]:
# FUNCTIONS ()     h.w odd and even number function 0 - 20

def greet():  # define the function  () write parameters inside this 
    print("Hello huda")

greet()   # call the function  () argument is call in function

Hello huda

In [14]:
# H.W 

def even_odd(numbers):
    even_numbers = [num for num in numbers if num % 2 == 0]
    odd_numbers = [num for num in numbers if num % 2 != 0]
    return even_numbers, odd_numbers

# Input list of numbers
numbers = [i for i in range(1, 22, 1)]
   

# Call the function
even_numbers, odd_numbers = even_odd(numbers)

# Print the results
print("Even numbers:", even_numbers)
print("Odd numbers:", odd_numbers)

Even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

In [67]:
#EXAMPLE 

def table(number:int): 

    for i in range(1, 11, 1 ):
        result= number * i
        print(f" {number} x {i} = {result}")
    
table(2)  # if a value is entered in a call function it is not a default value

 2 x 1 = 2
 2 x 2 = 4
 2 x 3 = 6
 2 x 4 = 8
 2 x 5 = 10
 2 x 6 = 12
 2 x 7 = 14
 2 x 8 = 16
 2 x 9 = 18
 2 x 10 = 20

In [70]:
#Example of Default 

def table(number:int=7):  # if a particular value is entered while defining a function

    for i in range(1, 5, 1 ):
        result= number * i
        print(f" {number} x {i} = {result}")
    
table()   # it will be set to default in calling function 

table(5)   # both default and non default value can work together

 7 x 1 = 7
 7 x 2 = 14
 7 x 3 = 21
 7 x 4 = 28
 5 x 1 = 5
 5 x 2 = 10
 5 x 3 = 15
 5 x 4 = 20

# Keyword Argument 

- Keyword argument should be at the end in calling function 
- Argument is written using {} curly brackets

In [2]:
# Example of keyword argument

def showDetails(name,age,salary):
    print(f'your name is {name}')
    print(f'your age is {age}')
    print(f'your salary is {salary}')

showDetails(20,'Musab',2500)

print()

showDetails('Huda', salary=4000,age=20)

your name is 20
your age is Musab
your salary is 2500

your name is Huda
your age is 20
your salary is 4000

# Lambda Function

- SYNTAX ---- lambda parameterlist : expression  (eg- lambda y: x*n)
- It is an anonyms function

In [5]:
#Example one 

def funname(y):
    return 2*y
funname(3)

# Using Lambda 

a = lambda y: 2*y
a (2)

4

In [6]:
def times(n):
    return lambda x: x*n
double=times(2)
triple=times(3)

print(double(10))    # lambda x : x*2
print(triple(20))    # lambda x : x*3

20
60

In [8]:
#Example -- 1

numbers = [1,2,3,4,5,6,7,8,9,10]
sq=list(map(lambda x:x**2,numbers))
print(sq)

# Example -- 2

def odds(num)
for i in number:
    print(odds(i))

 odds= list(filter(lambda x: x%2==1, number))
print(odds)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
#Example - 3

bonuses = [100, 200, 300]
iterator = map(lambda bonus: bonus*2, bonuses)
print(list(iterator))

[200, 400, 600]

# Recursive Function

In [1]:
# using for loop

def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result


number = 4
result = factorial(number)
print(f"The factorial of {number} is {result}")

The factorial of 4 is 24

In [2]:
# using while loop 

def factorial(n):
    result = 1
    while n > 1:
        result *= n
        n -= 1
    return result

number = 5
result = factorial(number)
print(f"The factorial of {number} is {result}")

The factorial of 5 is 120

In [3]:
# using recursive

def factorial(n):
   if n == 1:
      return 1
   else:
      return n * factorial(n - 1)
 
factorial(3)

6

In [3]:
# Example 

def countdown(start):
    print(start)
    if start > 0:
        countdown(start-1)
        
countdown(2)

2
1
0

In [6]:
# Continue of above example 
global count 
count = 0
def countdown(start):
    global count 
    print(start)
    if start > 0:
        print(f"the return value {countdown(start-1)} the value of count{count}")
        count = count+1
        return count
        
a=countdown(2)
print(f'the value of count {count}')

2
1
0
the return value None the value of count0
the return value 1 the value of count1
the value of count 2

 # List and List comprehension
 
- A list refers to a collection of elements
- The elements of a list do not all have to be of the same data type.
- A list is an ordered sequence of data.

- List Comprehension syntax - new_list = [expression for value in iterable]

In [17]:
l = [1,2,3,4,5,6,7,8,9]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
#To append new items to the end of a list
l.append(2)  
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 2, 2, 2, 2]

In [23]:
#To insert an item in the middle of a lis
l.insert(3,0)
print(l)

[1, 2, 3, 0, 4, 5, 6, 7, 8, 9, 2, 2, 2, 2, 2]

In [10]:
# extend 
l = [1,2,3,4,5,6,7,8,9]
l.extend([3,4])
t=(5,7)
l.extend(t)

print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 3, 4, 5, 7]

In [9]:
# Copy List  -- A shallow copying a list can be created with the copy() method
l.copy()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 3, 4, 5, 7]

In [40]:
# Reversing the list
l.reverse()
print(l)

[2, 2, 2, 2, 2, 9, 8, 7, 6, 5, 4, 0, 3, 2, 1]

In [48]:
# Removing from the list 
l.remove(2)
print(l)

[2, 2, 2, 9, 8, 7, 6, 5, 4, 0, 3, 2, 1]

In [49]:
# To sort the list in order
l.sort()
print(l)

#sorted does not change the order of a list

[0, 1, 2, 2, 2, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
l = [1,2,3,4,5,6,7,8,9]  #List
l2=[i for i in l]   #List comprehension syntax 
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
# Even number using list

num_list = [1,2,3,4,5,6,7,8,9]  #List
num_list2=[i for i in num_list if i % 2 == 0]   #List comprehension syntax 
print(num_list2)

[2, 4, 6, 8]

In [11]:
# Odd number using list

num_list = [1,2,3,4,5,6,7,8,9]  #List
num_list2=[i for i in num_list if i % 2]   #List comprehension syntax 
print(num_list2)

[1, 3, 5, 7, 9]

# File Handling

In [16]:
#Example 

f=open('hello.txt','r')
f.close()

with open('hello.txt') as f:
    lines=f.readlines()

print(end="\n \n \n")

with open('hello.txt') as f:
    [print(line.strip()) for line in f.readline()]

print(end="\n \n \n")

with open('hello.txt') as f:
    while True:
        line=f.readline()
        if not line:
            break
        print(line.strip())

#UTF-8 encoding -- different language

with open('hello.txt',encoding='utf8') as f:
   for line in f:
       print(line.strip())

t
h
i
s

i
s

t
h
e

f
i
r
s
t

l
i
n
e

h
e
l
l
o

w
o
r
l
d





this is the first line hello world

and the second line is hiii
é—®ä¸–ç•Œå®‰
this is the first line hello world

and the second line is hiii
问世界安

In [20]:
#Example with w 

with open('readme.txt', 'w') as f:
    f.write('readme')

In [24]:
# Example with w 

lines = ['Readme','How to write text files in python']
with open('readme.txt', 'a') as f:
    for line in lines:
        f.write(line)
        f.write('\n')

In [23]:
lines = ['Readme','How to write text files in python']
with open('readme.txt', 'w') as f:
    f.writelines(lines)

# CSV File

In [25]:
# Importing CSV File 

import csv 
with open("C:/Users/HUDA/Downloads/employee_data.csv", encoding="utf-8") as f:
    csv_reader = csv.reader(f)  # reader is a function and f is object 
    for line in csv_reader:
        print(line)

['number', 'first_name', 'last_name', 'gender', 'birth_date', 'employment_status', 'annual_salary', 'tax_file_no']
['483', 'Lenord', 'Kihn', 'M', '1994-07-01', '', '64598', '']
['478', 'Palma', 'Beahan', 'F', '1972-05-06', 'PE', '124103', '']
['348', 'Hebert', 'Muller', 'M', '1990-09-04', 'PE', '100324', '']
['757', 'Virginia', 'Ullrich', 'M', '1991-09-23', 'PE', '144957', '']
['937', 'Roby', 'Hudson', 'M', '1997-01-15', '', '137659', '']
['264', 'Jaeda', 'Effertz', '', '1994-03-21', 'PE', '131924', '']
['165', 'Jalissa', 'Bogisich', 'F', '1974-01-07', 'PE', '101133', '']
['211', 'Lexie', 'Robel', 'M', '1997-09-05', '', '106595', '']
['510', 'Billy', 'Reilly', 'M', '1977-04-30', '', '75300', '']
['940', 'Marlana', 'Moen', 'F', '1979-05-05', 'CA', '140611', '']
['175', 'Aja', 'Lynch', 'M', '1986-08-21', 'PE', '69271', '']
['772', 'Jabez', 'McLaughlin', 'M', '1971-01-12', 'PE', '141535', '']
['950', 'Adrienne', 'Stokes', 'F', '1982-07-28', 'CA', '97453', '']
['906', 'Florene', "O'Connell", 'M', '1979-04-03', 'PE', '133971', '']
['325', 'Migdalia', 'Sauer', 'M', '1992-08-24', 'PE', '144271', '']
['194', 'Ace', 'Upton', '', '1987-08-25', 'PE', '120120', '']
['493', 'Jelani', 'Quitzon', 'M', '1991-03-20', 'PE', '93442', '']
['901', 'Nikki', "D'Amore", '', '1985-08-09', 'CA', '108287', '']
['712', 'Yahir', 'Kertzmann', 'F', '1970-10-27', '', '95140', '']
['936', 'Marsha', 'Ledner', 'F', '1982-12-23', 'PE', '143806', '']
['327', 'Amarion', 'Larkin', 'M', '1987-06-28', 'PE', '145321', '']
['431', 'Maynard', 'Zieme', '', '1982-10-12', 'PE', '76354', '']
['542', 'Mat', 'Nienow', 'F', '1995-06-14', '', '141463', '']
['78', 'Brannon', 'Goldner', 'F', '1985-04-09', 'PE', '72290', '']
['90', 'Zilpha', 'Kreiger', 'F', '1980-07-21', '', '91584', '']
['855', 'Carla', 'Witting', 'F', '1977-02-07', 'PE', '96996', '']
['621', 'Saint', 'Hayes', 'F', '1993-08-09', '', '128053', '']
['948', 'Gerry', 'Kunze', 'F', '1990-11-21', '', '110341', '']
['232', 'Urijah', 'McClure', 'F', '1971-04-29', 'TE', '105555', '']
['377', 'Malcolm', 'Schmitt', 'M', '1974-03-30', 'PE', '59482', '']
['458', 'Desmond', 'Pfeffer', 'F', '1970-04-07', 'CA', '72361', '']
['171', 'Hope', 'Zboncak', 'F', '1989-07-18', 'PE', '109051', '']
['163', 'January', 'Balistreri', 'F', '1995-10-26', '', '63802', '']
['409', 'Brionna', 'Block', 'F', '1973-04-17', '', '55607', '']
['88', 'Zain', 'Franecki', 'F', '1972-11-03', 'PE', '141171', '']
['927', 'Jaelynn', 'Corkery', 'F', '1999-10-21', 'PE', '136524', '']
['397', 'Millicent', 'Moen', 'M', '1983-03-15', 'PE', '116407', '']
['289', 'Jeryl', 'Lesch', 'F', '1971-05-24', 'PE', '144888', '']
['307', 'Percival', 'Flatley', 'F', '1982-12-11', 'PE', '67961', '']
['982', 'Riley', 'Orn', '', '1978-01-09', 'PE', '82041', '']
['679', 'Katelin', 'Huels', 'M', '1996-12-17', 'PE', '65039', '']
['700', 'Jaiden', 'Hirthe', 'M', '1970-09-26', 'CA', '62770', '']
['911', 'Hildred', 'McKenzie', 'M', '1970-03-23', 'PE', '98515', '']
['428', 'Mansfield', 'Mosciski', '', '1986-03-22', 'PE', '135099', '']
['609', 'Alana', 'Gaylord', 'F', '1976-10-27', '', '71825', '']
['442', 'Kyrie', 'Sanford', 'M', '1992-04-15', 'PE', '75514', '']
['238', 'Addison', 'Sanford', '', '1977-09-20', 'CA', '111234', '']
['969', 'Marget', 'West', 'M', '1979-10-11', 'PE', '79230', '']
['245', 'Gladis', 'Yost', '', '1996-12-30', 'PE', '74821', '']
['72', 'Laisha', 'Collier', 'F', '1981-10-23', 'PE', '131899', '']
['829', 'Shade', 'Runte', 'M', '1991-11-08', 'PE', '56935', '']
['900', 'Kate', 'Blick', 'F', '1975-05-10', 'CA', '90927', '']
['586', 'Barton', 'Stokes', 'F', '1991-05-10', 'PE', '97214', '']
['482', 'Anibal', 'Dare', 'M', '1986-05-23', 'TE', '149219', '']
['932', 'Lucia', 'Bogan', 'M', '1994-10-27', 'PE', '137985', '']
['337', 'Omar', 'Beier', 'M', '1977-01-22', '', '125879', '']
['561', 'Kari', 'Conn', 'F', '1980-01-19', '', '58570', '']
['22', 'Rashawn', 'Wyman', 'M', '1995-05-06', '', '56155', '']
['357', 'Darby', 'Herzog', 'M', '1980-05-24', 'CA', '72575', '']
['990', 'Maryellen', 'Stanton', '', '1993-09-26', 'PE', '80038', '']
['151', 'Ephram', 'Lindgren', 'M', '1994-12-10', 'CA', '130053', '']
['629', 'Broderick', 'Mills', 'F', '1986-04-25', 'PE', '104727', '']
['725', 'Lance', 'Ratke', 'M', '1979-08-03', 'PE', '84832', '']
['349', 'Kamora', 'Bednar', '', '1988-07-24', 'PE', '72137', '']
['241', 'Jaclyn', "O'Connell", 'F', '1993-01-30', 'PE', '126787', '']
['845', 'Kayleen', 'Hodkiewicz', 'F', '1986-05-29', '', '58755', '']
['194', 'Trilby', 'Hartmann', 'F', '1979-01-11', 'PE', '118209', '']
['429', 'Ernie', 'Harber', 'M', '1997-10-15', 'PE', '70102', '']
['38', 'Duke', 'Krajcik', 'M', '1977-09-29', 'PE', '136383', '']
['687', 'Columbia', 'Pacocha', 'F', '1994-10-04', 'PE', '129147', '']
['928', 'Furman', 'Kiehn', 'F', '1974-01-03', '', '59444', '']
['914', 'Phylicia', 'Gerlach', '', '1996-12-18', 'CA', '146603', '']
['840', 'Vassie', 'Turcotte', 'F', '1999-05-22', 'PE', '138513', '']
['655', 'Trey', 'Conn', 'F', '1978-04-21', 'PE', '118809', '']
['143', 'Ilo', 'Mohr', 'F', '1985-01-08', 'PE', '106096', '']
['309', 'Wilfred', 'Willms', 'M', '1998-07-19', '', '108311', '']
['638', 'Crockett', 'Zieme', '', '1978-08-25', 'PE', '86551', '']
['156', 'Armstead', "O'Kon", 'F', '1984-08-07', 'PE', '75042', '']
['516', 'Chuck', 'Watsica', 'M', '1984-02-24', '', '135153', '']
['138', 'Nannette', 'Wintheiser', '', '1985-10-05', 'PE', '124371', '']
['845', 'Shellie', 'Zboncak', 'M', '1988-08-27', 'PE', '80332', '']
['312', 'Rylie', 'Bode', 'M', '1978-03-05', 'PE', '146229', '']
['971', 'Phebe', 'Turcotte', 'F', '1988-08-07', '', '141422', '']
['420', 'Judi', 'Daugherty', 'F', '1980-07-23', 'PE', '56124', '']
['442', 'Lavon', 'Kunze', 'M', '1991-05-29', 'PE', '86608', '']
['745', 'Norine', 'Bode', '', '1994-10-02', '', '112224', '']
['592', 'Camisha', 'Casper', '', '1994-07-02', '', '59113', '']
['144', 'Stanford', 'Roberts', '', '1996-11-14', 'PE', '147941', '']
['850', 'Jeffry', 'Kreiger', 'M', '1983-04-07', 'PE', '79429', '']
['754', 'Elige', 'Rempel', 'M', '1976-12-11', 'PE', '84343', '']
['444', 'Justus', 'Ullrich', 'M', '1981-01-17', 'TE', '90633', '']
['657', 'Juana', 'Russel', 'F', '1991-07-08', '', '142237', '']
['835', 'Zelia', 'Lakin', 'M', '1989-07-02', 'CA', '125912', '']
['503', 'Socorro', 'Barrows', 'M', '1976-08-06', 'PE', '135162', '']
['287', 'Jory', 'Tromp', 'F', '1985-06-06', 'PE', '133805', '']
['463', 'Ellison', 'Bednar', 'F', '1984-03-10', 'PE', '81377', '']
['355', 'Theodis', 'Ruecker', 'F', '1990-06-28', 'PE', '126923', '']
['829', 'Halley', 'Armstrong', 'M', '1972-07-15', 'PE', '96508', '']
['130', 'Merwin', "O'Keefe", '', '1981-09-07', 'TE', '95193', '']
['185', 'Quint', 'Halvorson', 'M', '1978-11-24', 'TE', '56029', '']
['527', 'Terrance', 'Schroeder', 'F', '1989-06-02', 'PE', '76154', '']
['850', 'Darryle', 'Stracke', '', '1978-06-03', 'TE', '77865', '']
['763', 'Effa', 'Senger', 'F', '1974-07-24', 'TE', '143664', '']
['45', 'Tilman', 'Welch', 'F', '1973-05-24', 'PE', '114153', '']
['45', 'Manilla', 'Daniel', 'M', '1980-07-06', '', '89318', '']
['88', 'Gustie', 'Feest', 'M', '1976-12-29', 'PE', '130311', '']
['202', 'Brandon', 'Yost', 'F', '1993-01-22', 'PE', '84858', '']
['327', 'Byrd', 'Wintheiser', 'M', '1983-11-01', 'PE', '62026', '']
['373', 'Alize', 'Murazik', 'F', '1972-04-08', '', '119571', '']
['663', 'Rae', 'Wolf', '', '1998-01-13', '', '98996', '']
['102', 'Ramona', 'Reichert', 'F', '1977-02-26', 'PE', '116332', '']
['249', 'Elmer', 'Reichert', 'M', '1978-04-09', 'PE', '84094', '']
['958', 'Chantel', 'Shanahan', 'M', '1992-05-22', 'PE', '72408', '']
['293', 'Rob', 'Hagenes', 'M', '1997-01-27', 'TE', '73762', '']
['221', 'Devonte', 'Erdman', 'M', '1985-09-15', 'PE', '59567', '']
['105', 'Lucetta', 'Kemmer', 'M', '1980-03-22', 'PE', '72335', '']
['387', 'Ellsworth', 'Carter', 'M', '1979-07-24', 'TE', '138540', '']
['443', 'Tristin', 'Shields', 'F', '1980-08-25', 'PE', '97981', '']
['683', 'Wesley', 'Wiza', 'F', '1989-06-07', 'PE', '68935', '']
['144', 'Gavin', 'Kuhic', 'M', '1985-09-20', 'PE', '132542', '']
['583', 'Camila', 'Tillman', 'M', '1977-04-03', 'PE', '99941', '']
['504', 'Dorla', 'Stark', 'M', '1998-08-14', '', '134767', '']
['937', 'Emeline', 'Klocko', 'F', '1975-05-29', 'PE', '68156', '']
['455', 'Isamar', 'Grimes', 'M', '1991-10-10', 'TE', '113122', '']
['303', 'Dennis', 'Cole', 'M', '1993-04-16', '', '147018', '']
['66', 'Ott', 'Huels', 'M', '1991-07-17', '', '106909', '']
['813', 'Rudolf', 'Paucek', 'F', '1972-03-07', '', '110663', '']
['51', 'Fleda', 'Botsford', 'M', '1989-01-14', 'PE', '77949', '']
['648', 'Luella', 'Tromp', 'M', '1970-01-24', 'PE', '55559', '']
['911', 'Landen', 'Predovic', 'F', '1988-06-21', 'CA', '125038', '']
['991', 'Malvina', 'Cole', 'F', '1971-09-25', 'PE', '66400', '']
['301', 'Garrison', 'Schulist', 'M', '1982-10-14', 'PE', '109871', '']
['622', 'Dakotah', 'Kirlin', 'M', '1976-11-05', 'PE', '93349', '']
['104', 'Cephus', 'Botsford', 'M', '1986-09-11', 'PE', '84377', '']
['31', 'Syreeta', 'Altenwerth', 'M', '1999-08-28', 'PE', '117554', '']
['828', 'Magdalena', 'Reichert', 'M', '1993-09-02', 'PE', '55366', '']
['728', 'Matie', 'Lubowitz', 'F', '1984-04-27', 'PE', '119788', '']
['763', 'Kiara', 'Gerlach', 'M', '1984-11-26', '', '108015', '']
['360', 'Jasmin', 'Willms', 'F', '1982-08-27', 'PE', '126649', '']
['483', 'Desirae', 'Frami', 'F', '1982-07-08', 'PE', '105702', '']
['1', 'Kitty', 'Ruecker', 'F', '1976-07-24', 'PE', '90613', '']
['512', 'Cordell', 'Rempel', 'F', '1995-04-10', 'PE', '120924', '']
['41', 'Gladyce', 'Kovacek', 'F', '1993-05-24', 'PE', '110498', '']
['102', 'Stacey', 'Rice', 'F', '1975-02-13', 'TE', '109856', '']
['64', 'Marcello', 'Yost', 'M', '1995-04-15', 'PE', '59985', '']
['569', 'Angella', 'Harvey', 'F', '1988-01-21', 'CA', '77758', '']
['610', 'Sidney', 'Johnson', 'F', '1990-12-12', 'PE', '141549', '']
['12', 'Efrain', 'Harber', '', '1995-01-26', '', '57029', '']
['709', 'Loula', 'Botsford', 'F', '1995-01-19', '', '100518', '']
[]

# OOP  -- Object Oriented Programming

#### APIE: 

#### Class 
<pre>Class is a blueprint for an object.sometimes it is also known as class is a prototype for an object.</pre>
<pre> cls, decorator, static these are common for all</pre>

### Object
<pre>Object is a real world entity whatever we see around us.</pre>

##### Abstraction
<pre> Abstraction is used to take the essential parts of a domain. Abstraction in Python is achieved by using abstract classes and interfaces.
An abstract class is a class that generally provides incomplete functionality and contains one or more abstract methods.</pre>

##### Polymorphism
<pre>Overloading: Defining same method with same name but different parameter within same class
Redefining: Same method with same name with same parameter called overiding.</pre>

##### Inheritance
<pre>Inheritance is a mechanism in which one class acquires the property of another class.</pre>
<img src="https://docs.oracle.com/javase/tutorial/figures/java/concepts-bikeHierarchy.gif"><br>

##### Encapsulation
<pre>It describes the idea of wrapping data and the methods that work on data within one unit. This puts restrictions on accessing variables and methods directly and can prevent the accidental modification of data. </pre>

In [1]:
# Polymorphism -- overiding and overloading

def func():
    pass
def func(a):  
    pass
func(6)
func()

TypeError: func() missing 1 required positional argument: 'a'

In [2]:
# Polymorphism -- overiding and overloading with variable arguments (*)

def func():
    pass
def func(*a):  
    pass
func(6)
func()

In [1]:
# OOP Practical
#Class 

class Students:
    pass

stu1= Students()       
stu1.name='harsh'    #name is attribute and we can add more attributes at run time 
print(stu1.name)

harsh

In [36]:
#Class with a function   -- instance attribute, class attribute

class Students:
    trainer="hit"           # class attribute is define here -- only for class 
    def greet(self,n):      # self belongs to particular instance of that class -- self.name=n is object.attribute=value  (n is local variable)
        self.name=n         # Name is attribute and we can add more attributes at run time 


# self can be used to change the value of a instance variable it is used only in functions 
        
# stu1= Students()       
# stu1.name='harsh'          
# print(stu1.name)

print("Instance attribute: O/P")
stu1= Students()   
stu1.greet("hello")
stu2=Students()
stu2.greet("hi")
print(stu1.name,stu2.name)


print()

# Class attribute -- trainer="hit"
print("Class attribute: O/P")   
print(stu1.trainer,stu2.trainer)
stu1.trainer="raj"           #try to change trainer value 
print(stu1.trainer,stu2.trainer)
stu3=Students()
print(stu1.trainer,stu2.trainer,stu3.trainer)
Students.trainer="rahul"     #changed value   
print(stu1.trainer,stu2.trainer,stu3.trainer)

print()

#To delete a particular trainer
print("Delete trainer: O/P")
del stu1.trainer
print(stu1.trainer,stu2.trainer,stu3.trainer)

Instance attribute: O/P
hello hi

Class attribute: O/P
hit hit
raj hit
raj hit hit
raj rahul rahul

Delete trainer: O/P
rahul rahul rahul

# Constructor __init__  and Class Method 

<pre>Constructors are generally used for instantiating an object. 
The task of constructors is to initialize(assign values) to the data members of the class when an object of the 
class is created. The __init__() method is called the constructor and is always called when an object is created.</pre>

In [37]:
#Constructor --  __init__

class Students:
    trainer="hit"           
    def __init__(self,n):      
        self.name=n 
stu1 = Students('hi')
print(stu1.name)

hi

In [6]:
# Example using constructor 
#Single inheritance

class Students:
    trainer='raj'
    def __init__(self,name,age):
        self.name=name
        self.age=age
    @classmethod                    # @ is known as decorator, class method is use to modify class variable within the instance attribute
    def info(cls):                   
        print(f'this is class method {cls.trainer}')
    @classmethod
    def changeTrainer(cls,new):
        cls.trainer=new
    @staticmethod
    def infoOfClass():
        print('this is student class')

#Constructor init has only one parameter self 
stu1 = Students('rahul',23)
stu1.name

#Class Method has only one parameter cls
stu1.info()   
stu1.changeTrainer('new1')
print(Students.trainer)

#Static Method
stu1.infoOfClass()
Students.infoOfClass()

this is class method raj
new1
this is student class
this is student class

In [19]:
#Inheritance and Polymorphism -- is a relationship: strongly coupled
#It is hierarchial inheritance

print('INHERITANCE I/P and O/P:')
class Animal:                 # Parent class
    def speak(self):
        pass

class Dog(Animal):            # Child of Animal class
    def speak(self):
        print('Woof!')

class Cat(Animal): 
    def speak(self):
        print('Meow!')
        
my_dog=Dog()
my_cat=Cat()
my_dog.speak()
my_cat.speak()

print()

print('POLYMORPHISM I/P and O/P:')
def animal_sound(animal):
    animal.speak()

animal_sound(my_dog)
animal_sound(my_cat)

INHERITANCE I/P and O/P:
Woof!
Meow!

POLYMORPHISM I/P and O/P:
Woof!
Meow!

In [1]:
# Polymorphism -- has a relation: loosely coupled

# class - capital
# function - camel 

class Engine:
    def start(self):
        print("engine started")
    def stop(self):
        print("engine stopped")

class Car:
    def __init__(self):
        self.engine = Engine()
    
    def start(self):
        print("car starting")
        self.engine.start()
        print('car started', end='\n\n')
    def stop(self):
        print("car stopped")
        self.engine.stop()
        print('car stopped')

c1 = Car()
c1.start()
c1.stop()


#h.w -- all 5 inheritance with real life example

car starting
engine started
car started

car stopped
engine stopped
car stopped

In [2]:
# Single Inheritance 

class Vehicle:
    def start_engine(self):
        print('Engine rolled')

class Car(Vehicle):
    def drive(self):
        print('Car is moving')

car = Car()
car.start_engine()
car.drive()

Engine rolled
Car is moving

In [3]:
# Multiple Inheritance 

class LandVehicle:
    def drive_on_land(self):
        print("Driving on land")

class Watercraft:
    def navigate_on_water(self):
        print("Navigating on water")

class AmphibiousVehicle(LandVehicle, Watercraft):
    pass

# Example usage
amphibious_vehicle = AmphibiousVehicle()
amphibious_vehicle.drive_on_land()
amphibious_vehicle.navigate_on_water()

Driving on land
Navigating on water

In [4]:
# Multilevel Inheritance

class Person:
    def talk(self):
        print("Person talking")

class Student(Person):
    def study(self):
        print("Student studying")

class GraduateStudent(Student):
    def do_research(self):
        print("Graduate student doing research")

# Example usage
grad_student = GraduateStudent()
grad_student.talk()
grad_student.study()
grad_student.do_research()

Person talking
Student studying
Graduate student doing research

In [1]:
# Hierarchical Inheritance 

class Shape:
    def draw(self):
        print("Drawing a shape")

class Circle(Shape):
    def draw(self):
        print("Drawing a circle")

class Rectangle(Shape):
    def draw(self):
        print("Drawing a rectangle")

# Creating instances of Circle and Rectangle
my_circle = Circle()
my_rectangle = Rectangle()
my_circle.draw()      # Specific to Circle
my_rectangle.draw()   # Specific to Rectangle

Drawing a circle
Drawing a rectangle

In [5]:
# Hybrid Inheritance

class UIElement:
    def display(self):
        print("Displaying UI element")

class ClickableMixin:
    def click(self):
        print("UI element clicked")

class Button(UIElement, ClickableMixin):
    pass

# Example usage
button = Button()
button.display()
button.click()

Displaying UI element
UI element clicked

# Regular Expression  -- REGEX

In [1]:
import re 
p=re.compile('[Pp]')        
print(p.findall('python'))

['p']

In [2]:
import re
print(re.findall('[pP]','python'))

['p']

In [3]:
import re

s='Python is very fast'
result=re.match('[pP]', s)
print(result)

<re.Match object; span=(0, 1), match='P'>

In [4]:
import re

s='Python is very fast'
result=re.search('[pP]', s)
print(result)
result.group()

<re.Match object; span=(0, 1), match='P'>

'P'

In [5]:
s='Python 10.54 was 4 4.5 5.5released  on october 04, 2021'
result=re.search('[\d{9}]', s)
print(result)

print('Matched string:',result.group())
print('Starting position:',result.start())
print('Ending position:',result.end())
print('Position:',result.span())

<re.Match object; span=(7, 8), match='1'>
Matched string: 1
Starting position: 7
Ending position: 8
Position: (7, 8)

In [6]:
s='Python 10.54 was 4 4.5 5.5released  on october 04, 2021'
result=re.finditer('[\d]', s)

for i in result:
    print(i.group(), end='')
print()

time= '12.20'
matches = re.finditer('\d\d', time)
for match in matches:
    print(match.group())

105444555042021
12
20

In [14]:
import re

time= '12.20'
matches = re.finditer('\d\d', time)
for match in matches:
    print(match.group())
matches = re.finditer('\d\d$', time)
for match in matches:
    print(match.group())  #group is a function

12
20
20

# Word Boundry

In [19]:
import re

s='CPython is the implementation of Python in C'
matches = re.finditer(r'\bPython\b', s) 
#matches = re.finditer(r'Python',s)
for match in matches:
    print(match.group())
    
print('now without boundry')
matches = re.finditer('Python', s)
for match in matches:
    print(match.group())  #group is a function

Python
now without boundry
Python
Python

# Regx Quantifiers

In [20]:
#  * Asterisk 

s="""CPython, IronPython, and JPython
     are major Python's implementation"""

matches = re.finditer('\w*Python',s)

for match in matches:
    print(match)

<re.Match object; span=(0, 7), match='CPython'>
<re.Match object; span=(9, 19), match='IronPython'>
<re.Match object; span=(25, 32), match='JPython'>
<re.Match object; span=(48, 54), match='Python'>

In [7]:

s="""CPython, IronPython, and JPython
     are major Python's implementation"""

matches = re.finditer('\d+',s)

for match in matches:
    print(match)

In [8]:
s = "Python 10:54 was 4 4.5 5.5 released on October 04, 2021."
result = re.finditer('\d', s)
for i in result:
    print(i.group(),end=' ')
print()

1 0 5 4 4 4 5 5 5 0 4 2 0 2 1