
## Intro to Python & Python Basic Syntax What is python

__What are the feature of Python__  

__What are the Applications of Python__  

__Python Installation__

__What is Variable__

__Rules of Defining the variables__ 
When you name a variable, you need to adhere to some rules. If you don’t, you’ll get an error.

The following are the variable rules that you should keep in mind:

Variable names can contain only letters, numbers, and underscores (_). They can start with a letter or an underscore (_), not with a number.
Variable names cannot contain spaces. To separate words in variables, you use underscores for example sorted_list.
Variable names cannot be the same as keywords, reserved words, and built-in functions in Python.

__Multiple Variable Assignments__
<pre>
> a, b = 3, 5 
> print(a)
3
> print(b)
5
> l = ['first', 'second']
a,b=l
> print(a)
'first'
> print(b)
'second'
</pre>

__Variable swapping__
<pre>
a,b = b,a
> print(a)
'second'
> print(b)
'first'
</pre>

# Python Variable and String
### Printing Hello World Program

# *This is First Python Code*
## print Is function and It Takes The 3 arrguments 
* >First: Srting or Variable name to be Printed
* >Second: The end which<br> describes that what should be there after end this print Statement by Default it is set to \n which means new line <br>
* >Thired: The sep witch tell the print statement that how to seperate the two or more variable value if entered in print statement.

In [2]:
print('hello World',end='\t')
a='hello'
b='world'
print(a,b,sep='/')

hello World	hello/world

###  print function and perameters of print()
* >printing some text with row string and with \ operator and showing output with help of sinle and double quotes

Using Different quotes

In [2]:
print('it\'s the use of quotes ')
print("it\'s the use of quotes ")
print("'it\'s the use of quotes '")

it's the use of quotes
it's the use of quotes
'it's the use of quotes '

Using The row string with help of ' r '

In [3]:
print(r"this is for printing path c\this\is\path")#r prefix fro raw string

this is for printing path c\this\is\path

Using the Sep peramertor in print function

In [4]:
a = 10
b = 20
print("Hello, ",a,b,sep = "    ")
print("World!")

Hello,     10    20
World!

using the end perametor with print function

In [1]:
a=10
b=20
print("Hello, ",a,b,end = ' ')
print("World!")

Hello,  10 20 World!

In [4]:
# Using f prefix for a formatted string
name = "John"
age = 30
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)

My name is John and I am 30 years old.

* >String Concatination

In [7]:
print('hello'+' world')
print('hello','world')
var='hello' "world"
print(var)
print(type(1.3))
print('hello')
var2=var + '!  '
print(var2+var)
print(var, var2)
print(var, var2*3,sep='  ')

hello world
hello world
helloworld
<class 'float'>
hello
helloworld!  helloworld
helloworld helloworld!
helloworld  helloworld!  helloworld!  helloworld!


### Index of String and Use of ' len() '
<pre>
+---+---+---+---+---+---+---+---+---+---+---+
| h | e | l | l | o |   | w | o | r | l | d |  
+---+---+---+---+---+---+---+---+---+---+---+
  0   1   2   3   4   5   6   7   8   9   10 
 -11 -10 -9  -8  -7  -6  -5  -4  -3  -2  -1
 </pre>

In [10]:

var = "helloworld"

print(var[1])

print()

for i in var:
    print(i,end='')

print()

print('\n',len(var))

print()

for i in range(0,len(var),1):
    print(var[i],end='')

print()

print('\n',var[-1])

e

helloworld

 10

helloworld

 d

* __Python Slice Operator__

[0:2] returns a substring that includes the character from the index 0 (included) to 2 (excluded).
the start and the end are optional if we don't specify this it take autometically start as 0 and end as length of string

In [24]:
print(var[0:2])
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Get a slice with a step of 2
sliced_numbers = numbers[1:7:2]
sliced_numbers = numbers[0:3:5]

# Get a slice with a step of 2 in reverse order
sliced_numbers_in_reverse = numbers[8:1:-2]#

print(sliced_numbers_in_reverse)
print(sliced_numbers)  # Output: [1, 3, 5, 7]
print(numbers[::2]) # without difining the start and end and with step of 2

he
[8, 6, 4, 2]
[0]
[0, 2, 4, 6, 8]

In [25]:
original_list = [1, 2, 3, 4, 5]
original_tuple = (1, 2, 3, 4, 5)
# Slicing creates a new list
sliced_list = original_list[1:4]
sliced_tuple = original_tuple[1:4]
# Modify the original list
original_list += [999]  # Output: [1, 2, 4, 5, 999]
original_list[2] = 999

print(original_list)  # Output: [1, 2, 999, 4, 5]
print(sliced_list)    # Output: [2, 3, 4]

[1, 2, 999, 4, 5, 999]
[2, 3, 4]

* Strings are immutable in python same as Java 

* to update string we have to reassign new value to string variable

In [11]:
str = "Hello World"
new_str = 'Hi' + str[5:]
print(new_str)

Hi World

* >To Check the id of string we have ' id() ' and cpython basically returns the memory location of the object when the string is passed to the <b>id</b> function

In [12]:
# Example of string interning
a = "hello"
b = "hello"
c = "h" + "ello"

print(a is b)  # True (same object)
print(a is c)  # True (interning)
id(a)
print('id',id(a))
id(b)
print('id',id(b))
print('id',id(c))

int_a = 10
int_b = 11

print('id',id(int_a))
int_b = 10
print('id',id(int_b))

True
True
id 1983486606064
id 1983486606064
id 1983486606064
id 140711657595976
id 140711657595976


### <b>String Functions</b>

*String Methods upper(), lower(), capitalize(), rstrip(), lstrip(), strip(), replace(), find(), split(), len(), title(), swapcase(), count()
we can also use ' in ' and  ' not in '  operator with String*


isalnum()-Python string isalnum() function returns True if it’s made of alphanumeric characters only.

isalpha()-Python String isalpha() function returns True if all the characters in the string are alphabets, otherwise False.

isdecimal()-Python String isdecimal() function returns True if all the characters in the string are decimal characters, otherwise False.

isdigit()	-Python String isdigit() function returns True if all the characters in the string are digits, otherwise False.

isidentifier()-Python String isidentifier() function returns True if the string is a valid identifier according to the Python language definition.

islower()-Python String islower() returns True if all cased characters in the string are lowercase and there is at least one cased character, otherwise it returns False.

isnumeric()-Python String isnumeric() function returns True if all the characters in the string are numeric, otherwise False. If the string is empty, then this function returns False.

isprintable()- Python String isprintable() function returns True if all characters in the string are printable or the string is empty, False otherwise.

isspace()-Python String isspace() function returns True if there are only whitespace characters in the string, otherwise it returns False.

istitle()-Python String istitle() returns True if the string is title cased and not empty, otherwise it returns False.

isupper()-Python String isupper() function returns True if all the cased characters are in Uppercase

In [13]:
print(var*3)
sentence = "Python is fun!"

print('Python' in sentence)   # True
print('Java' not in sentence)  # True

helloworldhelloworldhelloworld
True
True


# Python Numbers

Python supports integers, floats, and complex numbers.

## Simple python program which check the input is it positive negative or zero

In [14]:
#num = int(input('Enter a Number'))
num =14
if num<0:
    print('Entered Number is Negative')
else:
    if num>0:
        print('Entered Number is Positive')
    else:
        print('Entered Number is Zero')
a=2+3j
print(type(a),a)

Entered Number is Positive
<class 'complex'> (2+3j)

## leap year code
Python Program checks the input given by user which is a yaar and give us output that is it a leap year

In [15]:
#year = int(input('Enter Year'))
year = 2024
if (year%400 ==0) or (year%4 == 0 and year%100 != 0):
    print("This year is Leap year")
else:
    print("Not a Leap Year")

This year is Leap year

Now same program with tarnery operator but this will be in consice manner

In [16]:
#year = int(input('Enter Year'))
year = 2024
result = "is a leap year" if ((year%400 ==0) or (year%4 == 0 and year%100 != 0)) else "is not a leap year"
print(year,result)

2024 is a leap year

## Bitwise Operator
<img src="https://techvidvan.com/tutorials/wp-content/uploads/sites/2/2019/12/types-of-bitwise-operators.jpg" alt='bitwise operator'><br>
<img src="https://techvidvan.com/tutorials/wp-content/uploads/sites/2/2019/12/implementation-of-and-operation-on-binary-digits.jpg" alt='and table'>
<img src="https://techvidvan.com/tutorials/wp-content/uploads/sites/2/2019/12/example-of-bitwise-and-operation.jpg">
<img src="https://techvidvan.com/tutorials/wp-content/uploads/sites/2/2019/12/bitwise-or-operations.jpg">
<img src="https://techvidvan.com/tutorials/wp-content/uploads/sites/2/2019/12/example-of-bitwise-or-operation.jpg">
<img src="https://techvidvan.com/tutorials/wp-content/uploads/sites/2/2019/12/bitwise-Xor-operations.jpg">
<img src="https://techvidvan.com/tutorials/wp-content/uploads/sites/2/2019/12/example-of-bitwise-Xor-operation.jpg">
<br><pre>
### Bitwise 1’s complement (~)
The bitwise 1’s complement only works on one operand.
 It is used to get the 1’s complement of a number.
 It flips all the bits until it reaches first zero from the right, so ~x is the same as -(x+1)

### Left And Right Swift operator
we have left swift <b>' << '</b>
    and right swift <b>' >> '</b> operator

 #### Right Swift Operator   
if i have value <b>7</b> after converting to binary it will be <b>111</b> 
and we apply the right swift one time 
eg 
    <b> 7>>1 </b>
 it will be 
     <b>11</b> 
which is binary value of <b> 3</b>


if i have value <b>7</b> after converting to binary it will be <b>111</b> 
and we apply the right swift one time 
eg 
    <b> 7>>1 </b>
 it will be 
     <b>11</b> 
which is binary value of <b> 3</b>

 </pre>

In [33]:
7<<3

56

In [36]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [19]:
max = 5
counter = 0

while counter < max:
    print(counter)
    counter += 1

0
1
2
3
4

In [20]:
command = ''

while command.lower() != 'quit':
    command = input('>')
    print(f"Echo: {command}")

Echo: quite
Echo: quit

In [9]:
def bubble_sort(arr):
    n = len(arr)

    # Traverse through all elements in the array
    for i in range(n):
        # Last i elements are already in place, so no need to check them
        for j in range(0, n-i-1):
            # Swap if the element found is greater than the next element
            if arr[j] > arr[j+1]:
                arr[j], arr[j+1] = arr[j+1], arr[j]

# Example usage
my_list = [64, 34, 25, 12, 22, 11, 90]
print("Unsorted list:", my_list)

bubble_sort(my_list)

print("Sorted list:", my_list)

Unsorted list: [64, 34, 25, 12, 22, 11, 90]
Sorted list: [11, 12, 22, 25, 34, 64, 90]

In [37]:
i_counter=0
j_counter=0
for i in range(20):
    i_counter +=1
    for j in range(5):
        j_counter +=1

In [38]:
print(i_counter,j_counter)

20 100

## What is Datatype

__What is Mutable & Immutable__
<pre>
* Immutable Datatype

If the values has been assigned to that datatype and it cannot be changed then it is called Immutable datatype.
The best example is tuple , if a value is present in the tuple then you cannot update them.
This is some what similar to a fixed list where where you cannot modify the existing values.

Types of Immutable Datatypes

Numeric
String 
Tuple


* Mutable Datatype

If the vales has been assign to that datatype and it can be change then it is called mutable datatype.
Types of mutable Datatypes

List
Dictionary
Set
</pre>


__List Operations & Methods__

A list refers to a collection of elements

The elements of a list do not all have to be of the same data type.

A list is an ordered sequence of data.

* we can create list <br>
    Using square brackets ' [ ] '  <br>
    Using list Function ' list() ' <br>
* We can iterate over list using in operator <br>


__Tuple Operations & Methods__ 

A tuple is a frozen list i.e tuple cannot be modified once it is created.

A tuple is declared with round parentheses ()

As tuple are immutable, iterating through tuple is faster than with list

functions: len()
we can iterate over tuple 
we can use slice operator

*Modifying Tuple

Since Tuple is immutable we cannot add an element,update an element and delete a particular element from the tuple.
> del tuple_name



__Dictionary Operations & Methods__

__Set Operations & Methods__

# While Loop
### Syntax
<pre>
while (condition):
    Code block
    Code block
    Code block
    Code block
else:
    Code block
    Code block
    Code block
    Code block
    Code block
</pre>

In [5]:
print('start')
num = 1 # assignment 
while (num < 6 ):
    print(num)
    num = num + 1 
else:
   print('finish')

start
1
2
3
4
5
finish

In [6]:
a = input('>')
while a != 'quit':
    print(a)
    a=input('>')

hi
hello
hr

In [9]:
num= 1
while (num<11):
    if num>4:
        break
    else:
        print(num)
        num += 1

1
2
3
4

In [3]:
num = 1
counter = 0
while (num < 11):
    #print('outer loop with num value', num)
    num1 = 1
    while( num1 < 11):
        if num1 > 5 : 
            break
        print(f'inner loop with num value {num},{num1}')
        num1 = num1 + 1
        counter = counter + 1
    num = num + 1
print(counter)

inner loop with num value 1,1
inner loop with num value 1,2
inner loop with num value 1,3
inner loop with num value 1,4
inner loop with num value 1,5
inner loop with num value 2,1
inner loop with num value 2,2
inner loop with num value 2,3
inner loop with num value 2,4
inner loop with num value 2,5
inner loop with num value 3,1
inner loop with num value 3,2
inner loop with num value 3,3
inner loop with num value 3,4
inner loop with num value 3,5
inner loop with num value 4,1
inner loop with num value 4,2
inner loop with num value 4,3
inner loop with num value 4,4
inner loop with num value 4,5
inner loop with num value 5,1
inner loop with num value 5,2
inner loop with num value 5,3
inner loop with num value 5,4
inner loop with num value 5,5
inner loop with num value 6,1
inner loop with num value 6,2
inner loop with num value 6,3
inner loop with num value 6,4
inner loop with num value 6,5
inner loop with num value 7,1
inner loop with num value 7,2
inner loop with num value 7,3
inner loop with num value 7,4
inner loop with num value 7,5
inner loop with num value 8,1
inner loop with num value 8,2
inner loop with num value 8,3
inner loop with num value 8,4
inner loop with num value 8,5
inner loop with num value 9,1
inner loop with num value 9,2
inner loop with num value 9,3
inner loop with num value 9,4
inner loop with num value 9,5
inner loop with num value 10,1
inner loop with num value 10,2
inner loop with num value 10,3
inner loop with num value 10,4
inner loop with num value 10,5
10

In [7]:
num = 0
while num < 10:
    num = num + 1
    if num % 2 == 0:
        continue
    print(num)

1
3
5
7
9

# for loop

In [4]:
for i in range(11):
    print(i)
st="hello world"
for i in st:
    print(i,end='')

0
1
2
3
4
5
6
7
8
9
10
hello world

# Functions

In [2]:
def greet():
    print('hello world')

In [3]:
greet()

hello world

In [15]:
def greetWithArr(name:int):
    print(f"hello {name}")

In [17]:
greetWithArr('Rahul')
a=True
greetWithArr(a)
greetWithArr(45)

hello Rahul
hello True
hello 45

In [8]:
def table(num:int=1):
    """this is table function"""
    for i in range(1,4,1):
        print(f'{num} X {i} = {num*i}')

In [48]:
table()
table()

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9

In [5]:
def showDetails(name,age,salary):
    print(f'your name is {name}')
    print(f'your age is {age}')
    print(f'your salary is {salary}')

In [9]:
showDetails(54,'rahul',45356)
print()
showDetails('Raj',salary=45555,age=23)

your name is 54
your age is rahul
your salary is 45356

your name is Raj
your age is 23
your salary is 45555

In [10]:
def my_decorator(func):
    def wrapper1(name):
        print("Something is happening before the function is called.")
        func(name)
        print("Something is happening after the function is called.")
    return wrapper1

@my_decorator
def say_hello(name):
    print("Hello!")

In [12]:
say_hello('hi')

Something is happening before the function is called.
Hello!
Something is happening after the function is called.

In [30]:
def isLeap(year):
    if year % 400 == 0:
        print('first')
        #return True
    else:
        if (year%4 == 0 and year%100 != 0):
            print('second')
            #return True
        else:
            pass
            #return False
    print('end of the function')
def withoutReturn(num):
    print(num*2)

In [ ]:
print(isLeap(400))
print('something')
withoutReturn(4)

### lambda function

<pre>
Python lambda expressions allow you to define anonymous functions.

Anonymous functions are functions without names. The anonymous functions are useful when you need to use them once.

A lambda expression typically contains one or more arguments, but it can have only one expression.

The following shows the lambda expression syntax:

lambda parameters: expression
</pre>

In [ ]:
def times(n):
    return lambda x: x * n

double = times(2)
result = double(2)
print(result)

result = double(3)
print(result)

In [14]:

bonuses = [100, 200, 300]
iterator = map(lambda bonus: bonus*5, bonuses)
print(set(iterator))

{1000, 1500, 500}

In [15]:
countries = [
    ['China', 1394015977],
    ['United States', 329877505],
    ['India', 1326093247],
    ['Indonesia', 267026366],
    ['Bangladesh', 162650853],
    ['Pakistan', 233500636],
    ['Nigeria', 214028302],
    ['Brazil', 21171597],
    ['Russia', 141722205],
    ['Mexico', 128649565]
]

populated = filter(lambda c: c[1] > 300000000, countries)

print(list(populated))

[['China', 1394015977], ['United States', 329877505], ['India', 1326093247]]

In [32]:
print(print('hi'))

hi
None

### Recursive Function

<img src="https://cdn.programiz.com/sites/tutorial2program/files/python-factorial-function.png" style="background-color:white" height="1200px">

In [3]:
def factorial(n):
    if n==1:
        return 1
    else:
        return n * factorial(n-1)

In [4]:
factorial(3)

6

In [48]:
count = 0 
def countDown(start):
    print(start)
    if start > 0:# call countdown
        print(f"the return value {countDown(start-1)} the value of count{count}")
    count = count+1
    return start

a=countDown(5)
print(f'the value of count {count} the value of a {a}')

5
4
3
2
1
0
the return value 0 the value of count1
the return value 1 the value of count2
the return value 2 the value of count3
the return value 3 the value of count4
the return value 4 the value of count5
the value of count 6 the value of a 5

# Non Premitive Data Type

### List

<pre>
l=[]
l=[[],[]]
l[index]=value

l.append(value)
l.pop()
l.pop(index)
l.remove(value) #first occurence
l.sort(reverse=True)#changes the actual list


l.insert(position,value)

del l[index]


.extend()

list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print(list1)  # Output: [1, 2, 3, 4, 5, 6]

.count()
my_list = [1, 2, 2, 3, 4, 2, 5]
count_of_2 = my_list.count(2)
print(count_of_2)  # Output: 3


len()
my_list = [1, 2, 3, 4, 5]
length = len(my_list)
print(length)  # Output: 5

max()
my_list = [10, 5, 8, 20, 3]
maximum = max(my_list)
print(maximum)  # Output: 20

min()
my_list = [10, 5, 8, 20, 3]
minimum = min(my_list)
print(minimum)  # Output: 3

sum()
my_list = [1, 2, 3, 4, 5]
total = sum(my_list)
print(total)  # Output: 15

sorted()
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5]
sorted_list = sorted(my_list)
print(sorted_list)  # Output: [1, 1, 2, 3, 4, 5, 5, 6, 9]


reverse()
my_list = [1, 2, 3, 4, 5]
reversed_list = list(reversed(my_list))
print(reversed_list)  # Output: [5, 4, 3, 2, 1]




unpack list

colors = ['red', 'blue', 'green']

red = colors[0]
blue = colors[1]
green = colors[2]
red, blue, green = colors

colors = ['red', 'blue', 'green']
red, blue, *other = colors
</pre>

In [19]:
l = [1,2,3,4,5,6,7,8,9]
l.append(2)
print(l)
l.insert(3,0)
l.copy()
l.count(2)
l.extend(l)
print(l.index(3))
l.sort()
l.reverse()
print(l)
t=(1,2)
t=([1,2],3)

2
[9, 9, 8, 8, 7, 7, 6, 6, 5, 5, 4, 4, 3, 3, 2, 2, 2, 2, 1, 1, 0, 0]

In [19]:
num_list = [1,2,3,4,5,6,7,8,9]
num_list2=[i for i in num_list if i%2==0]
print(num_list2)

[2, 4, 6, 8]

In [34]:
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Tuple
 tuple is a list that cannot change. Python refers to a value that cannot change as immutable. So by definition, a tuple is an immutable list.

### Set
A Set is a type of data container in Python which is used to store multiple data in one variable. It can contain elements of different data types. Elements in a set are unordered and hence it is not possible to access set's element using index number. Additionally, it does not allow multiple elements with same values (no duplicate elements).
###### Create set
<pre>
#Set with multiple datatypes
Info = {'John', 25, 'London'}  
print(Info)

#Creating set using constructor
colors = set(('Red', 'Blue', 'Green')) 
print(colors)
</pre>
###### Modify 
###### add Elements
<pre>
Add element of a set:
Two methods can be used to add elements in a Set:

add() - add an element to the Set.
update() - add element(s) to the Set. Please note that, Set does not support duplicate elements.
</pre>
###### Delete element of a set
Four methods and a keyword can be used to delete elements from a Set:
<pre>
remove() - deletes specified element from the Set. Returns an error if the element is not present in the set.
discard() - deletes specified element from the Set. Returns no error if the element is not present in the set.
pop() - deletes last element from the Set. Please note that, Set is an unordered data container therefore last element is not predefined.
clear() - deletes all elements of the set.
del - deletes the set itself.
</pre>

In [21]:
week = {'MON', 'TUE', 'WED'}
week.add('SUN')   # add this element in the set
print(week)
month = {'JAN', 'FEB', 'MAR', 'MAY'}
# multiple elements are updated in the set (with no duplication).
month.update(['JAN', 'NOV', 'DEC']) 
#Set is an unordered data container.
print(month)

{'MON', 'WED', 'TUE', 'SUN'}
{'FEB', 'JAN', 'DEC', 'NOV', 'MAY', 'MAR'}

### Dictionary
A Dictionary is a type of data container in Python which is used to store multiple data in one variable. It contains data in key-value pair and can contain elements of different data types. Elements in a dictionary are unordered and hence it is not possible to access dictionary's element using index number. Dictionary's keys are immutable and hence not changeable. Additionally, it does not allow multiple elements with same key (no duplicate keys).
#### Create Dictionary
<pre>
A dictionary can be created by separating it's elements by comma , and enclosing with curly bracket { }. Additionally, it can also be created using dict() function.
 Dictionary with multiple datatypes
Info = {
   "name": "John",
   "age": 25,
   "city": "London"
}
print(Info)

 Creating dictionary with constructor
Info = dict(name="Marry", age=20, city="Newyork")
print(Info)
</pre>
#### access Element 
<pre>
Access element of a Dictionary
An element of a dictionary can be accessed using key enclosed by square brackets [ ]. The same can also be achieved using get() method.
Info = {
   "name": "John",
   "age": 25,
   "city": "London"
}
print(Info["city"])
print(Info.get("name"))
</pre>
#### modify 
To modify value, assign new value using key.

<pre>Info = {
   "name": "John",
   "age": 25,
   "city": "London"
}
Info["city"] = "Paris"
print(Info)</pre>

#### loop over dictionary values
Info = {
   "name": "John",
   "age": 25,
   "city": "London"
}
#first method
for x in Info:
  print(Info[x])

print()
#second method
for x in Info.values():
  print(x)

#### Add elements in Dictionary
<pre>
Info = {
   "name": "John",
   "age": 25,
   "city": "London"
}
Info["gender"] = "Male"
print(Info)
</pre>

##### Iterate over dictionary
<pre>
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for key, value in person.items():
    print(f"{key}: {value}")
    </pre>
#### Delete elements of a Dictionary
<pre>
There are number of ways to delete elements from a dictionary:

pop() - deletes specified key and it's value of the dictionary.
popitem() - deletes last key-value pair of the dictionary. Please note that dictionary is an unordered data container, hence last key-value pair is not defined.
clear() - deletes all key-value pairs of the dictionary.
del - deletes a key-value pair of a dictionary. can be used to delete the dictionary itself.
The example below describes how to use pop() and popitem() methods of a dictionary.

Info = {
   "name": "John",
   "age": 25,
   "city": "London"
}
Info.pop("city")
print(Info)

Info = {
   "name": "John",
   "age": 25,
   "city": "London"
}
Info.popitem()
print(Info)

Methods	   Description
clear()	   Deletes all elements of the dictionary
copy()	   Returns a copy of the dictionary
fromkeys()	Creates a dictionary with specified keys and values
get()	      Returns value of the specified key
items()	   Returns a list of tuples with each key-value pair in tuple
keys()	   Returns a list of all keys of the dictionary
pop()	      Removes specified key-value pair of the dictionary
popitem()	Removes the last key-value pair of the dictionary
setdefault()Checks specified key in the dictionary. If the key does not exist, it inserts the specified key with specified value
update()	   Updates the dictionary with the specified key-value pair(s)
values()	   Returns a list of all values of the dictionary
</pre>
#### Dictionary comprehension
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

new_stocks = {symbol: price * 1.02 for (symbol, price) in stocks.items()}

print(new_stocks)


stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

selected_stocks = {s: p for (s, p) in stocks.items() if p > 200}

print(selected_stocks)

### Iterator 
<pre>
* An iterable is an object that can be iterated over. An iterable has the ability to return one of its elements at a time.
* An iterator is an agent that performs iteration. It’s stateful. And an iterator is also an iterable object.
* Use the iter() function to get an iterator from an iterable object and the next() function to get the next element from the iterable object.
</pre>

In [16]:
di={1:2,2:3,3:4}
di.items()

dict_items([(1, 2), (2, 3), (3, 4)])

In [ ]:
def first():#overloading example
    print('first function with no pera')
def first(*a):
    print(a)
first()
first(4)

## File Operation
#### Read File

##### Reading text methods
The file object provides you with three methods for reading text from a text file:
<br>
read(size) – read some contents of a file based on the optional size and return the contents as a string. If you omit the size, the read() method reads from where it left off till the end of the file. If the end of a file has been reached, the read() method returns an empty string.<br>
readline() – read a single line from a text file and return the line as a string. If the end of a file has been reached, the readline() returns an empty string.
<br>
readlines() – read all the lines of the text file into a list of strings. This method is useful if you have a small file and you want to manipulate the whole text of that file.

In [8]:
r=open('hello.txt','r')
print(r.read())

hello World

this is the first file the second line

In [9]:
print(r.read())

In [19]:
f = open('hello.txt','r')
f.close()

with open('hello.txt') as f:
    lines = f.readlines()

print(end="\n \n \n")

with open('C:/Users/admin/Project/Jupyter Projects/hello.txt') as f:
    [print(line.strip()) for line in f.readlines()]

print(end="\n \n \n")

with open('hello.txt') as f:
    while True:
        line = f.readline()
        if not line:
            break
        print(line.strip())

    #UTF-8 encoding
        
print(end="\n \n \n")

hello World     hello

this is the first file the second line
ä½ å¥½ä¸–ç•Œè¿™æ˜¯ä¸­æ–‡



hello World     hello

this is the first file the second line
ä½ å¥½ä¸–ç•Œè¿™æ˜¯ä¸­æ–‡



hello World     hello

this is the first file the second line
你好世界这是中文

#### File Write
'w':  Open a text file for writing. If the file exists, the function will truncate all the contents as soon as you open it. If the file doesn’t exist, the function creates a new file.
<br>
'a' : Open a text file for appending text. If the file exists, the function append contents at the end of the file.
<br>
'+' : Open a text file for updating (both reading & writing).
<br><br>
Use write() and writelines() methods to write to a text file.<br>
The writelines() method accepts an iterable object, not just a list, so you can pass a tuple of strings, a set of strings, etc., to the writelines() method.
<br>
To write a line to a text file, you need to manually add a new line character:

In [28]:
with open('hello.txt',encoding='utf8') as f:
    for line in f:
        print(line.strip())

hello World     hello

this is the first file the second line
你好世界这是中文

In [23]:
with open('readme.txt', 'a') as f:
    f.write('readme')

In [27]:
lines = ['Readme', 'How to write text files in Python']
with open('readme.txt', 'a') as f:
    for line in lines:
        f.write(line)
        f.write('\n')

In [26]:
lines = ['Readme', 'How to write text files in Python']
with open('readme.txt', 'w') as f:
    f.writelines(lines)

#### Create File
'x' – open a file for exclusive creation. If the file exists, the open() function raises an error (FileExistsError). Otherwise, it’ll create the text file.

In [ ]:
with open('readme.txt', 'x') as f:
    f.write('Create a new text file!')

In [31]:
import os.path
print(os.path.exists('hello1.txt'))
from pathlib import Path
path = Path('hello.txt')
print(path.is_file())

False
True

#### CSV File

In [32]:
import csv
#The next() function forwards to the reader to the next line.
# next(csv_reader)
with open('C:/Users/admin/Downloads/country.csv', encoding="utf8") as f:
    csv_reader = csv.reader(f)
    for line in csv_reader:
        print(line)

['name', 'area', 'country_code2', 'country_code3']
['Afghanistan', '652090.00', 'AF', 'AFG']
['Albania', '28748.00', 'AL', 'ALB']
['Algeria', '2381741.00', 'DZ', 'DZA']
['American Samoa', '199.00', 'AS', 'ASM']
['Andorra', '468.00', 'AD', 'AND']
['Angola', '1246700.00', 'AO', 'AGO']
['Anguilla', '96.00', 'AI', 'AIA']
['Antarctica', '13120000.00', 'AQ', 'ATA']
['Antigua and Barbuda', '442.00', 'AG', 'ATG']
['Argentina', '2780400.00', 'AR', 'ARG']
['Armenia', '29800.00', 'AM', 'ARM']
['Aruba', '193.00', 'AW', 'ABW']
['Australia', '7741220.00', 'AU', 'AUS']
['Austria', '83859.00', 'AT', 'AUT']
['Azerbaijan', '86600.00', 'AZ', 'AZE']
['Bahamas', '13878.00', 'BS', 'BHS']
['Bahrain', '694.00', 'BH', 'BHR']
['Bangladesh', '143998.00', 'BD', 'BGD']
['Barbados', '430.00', 'BB', 'BRB']
['Belarus', '207600.00', 'BY', 'BLR']
['Belgium', '30518.00', 'BE', 'BEL']
['Belize', '22696.00', 'BZ', 'BLZ']
['Benin', '112622.00', 'BJ', 'BEN']
['Bermuda', '53.00', 'BM', 'BMU']
['Bhutan', '47000.00', 'BT', 'BTN']
['Bolivia', '1098581.00', 'BO', 'BOL']
['Bosnia and Herzegovina', '51197.00', 'BA', 'BIH']
['Botswana', '581730.00', 'BW', 'BWA']
['Bouvet Island', '59.00', 'BV', 'BVT']
['Brazil', '8547403.00', 'BR', 'BRA']
['British Indian Ocean Territory', '78.00', 'IO', 'IOT']
['Brunei', '5765.00', 'BN', 'BRN']
['Bulgaria', '110994.00', 'BG', 'BGR']
['Burkina Faso', '274000.00', 'BF', 'BFA']
['Burundi', '27834.00', 'BI', 'BDI']
['Cambodia', '181035.00', 'KH', 'KHM']
['Cameroon', '475442.00', 'CM', 'CMR']
['Canada', '9970610.00', 'CA', 'CAN']
['Cape Verde', '4033.00', 'CV', 'CPV']
['Cayman Islands', '264.00', 'KY', 'CYM']
['Central African Republic', '622984.00', 'CF', 'CAF']
['Chad', '1284000.00', 'TD', 'TCD']
['Chile', '756626.00', 'CL', 'CHL']
['China', '9572900.00', 'CN', 'CHN']
['Christmas Island', '135.00', 'CX', 'CXR']
['Cocos (Keeling) Islands', '14.00', 'CC', 'CCK']
['Colombia', '1138914.00', 'CO', 'COL']
['Comoros', '1862.00', 'KM', 'COM']
['Congo', '342000.00', 'CG', 'COG']
['Cook Islands', '236.00', 'CK', 'COK']
['Costa Rica', '51100.00', 'CR', 'CRI']
['Côte d’Ivoire', '322463.00', 'CI', 'CIV']
['Croatia', '56538.00', 'HR', 'HRV']
['Cuba', '110861.00', 'CU', 'CUB']
['Cyprus', '9251.00', 'CY', 'CYP']
['Czech Republic', '78866.00', 'CZ', 'CZE']
['Denmark', '43094.00', 'DK', 'DNK']
['Djibouti', '23200.00', 'DJ', 'DJI']
['Dominica', '751.00', 'DM', 'DMA']
['Dominican Republic', '48511.00', 'DO', 'DOM']
['East Timor', '14874.00', 'TP', 'TMP']
['Ecuador', '283561.00', 'EC', 'ECU']
['Egypt', '1001449.00', 'EG', 'EGY']
['El Salvador', '21041.00', 'SV', 'SLV']
['Equatorial Guinea', '28051.00', 'GQ', 'GNQ']
['Eritrea', '117600.00', 'ER', 'ERI']
['Estonia', '45227.00', 'EE', 'EST']
['Ethiopia', '1104300.00', 'ET', 'ETH']
['Falkland Islands', '12173.00', 'FK', 'FLK']
['Faroe Islands', '1399.00', 'FO', 'FRO']
['Federated States of Micronesia', '702.00', 'FM', 'FSM']
['Fiji Islands', '18274.00', 'FJ', 'FJI']
['Finland', '338145.00', 'FI', 'FIN']
['France', '551500.00', 'FR', 'FRA']
['French Guiana', '90000.00', 'GF', 'GUF']
['French Polynesia', '4000.00', 'PF', 'PYF']
['French Southern territories', '7780.00', 'TF', 'ATF']
['Gabon', '267668.00', 'GA', 'GAB']
['Gambia', '11295.00', 'GM', 'GMB']
['Georgia', '69700.00', 'GE', 'GEO']
['Germany', '357022.00', 'DE', 'DEU']
['Ghana', '238533.00', 'GH', 'GHA']
['Gibraltar', '6.00', 'GI', 'GIB']
['Greece', '131626.00', 'GR', 'GRC']
['Greenland', '2166090.00', 'GL', 'GRL']
['Grenada', '344.00', 'GD', 'GRD']
['Guadeloupe', '1705.00', 'GP', 'GLP']
['Guam', '549.00', 'GU', 'GUM']
['Guatemala', '108889.00', 'GT', 'GTM']
['Guinea', '245857.00', 'GN', 'GIN']
['Guinea-Bissau', '36125.00', 'GW', 'GNB']
['Guyana', '214969.00', 'GY', 'GUY']
['Haiti', '27750.00', 'HT', 'HTI']
['Heard Island and McDonald Islands', '359.00', 'HM', 'HMD']
['Holy See (Vatican City State)', '0.40', 'VA', 'VAT']
['Honduras', '112088.00', 'HN', 'HND']
['Hong Kong', '1075.00', 'HK', 'HKG']
['Hungary', '93030.00', 'HU', 'HUN']
['Iceland', '103000.00', 'IS', 'ISL']
['India', '3287263.00', 'IN', 'IND']
['Indonesia', '1904569.00', 'ID', 'IDN']
['Iran', '1648195.00', 'IR', 'IRN']
['Iraq', '438317.00', 'IQ', 'IRQ']
['Ireland', '70273.00', 'IE', 'IRL']
['Israel', '21056.00', 'IL', 'ISR']
['Italy', '301316.00', 'IT', 'ITA']
['Jamaica', '10990.00', 'JM', 'JAM']
['Japan', '377829.00', 'JP', 'JPN']
['Jordan', '88946.00', 'JO', 'JOR']
['Kazakstan', '2724900.00', 'KZ', 'KAZ']
['Kenya', '580367.00', 'KE', 'KEN']
['Kiribati', '726.00', 'KI', 'KIR']
['Kuwait', '17818.00', 'KW', 'KWT']
['Kyrgyzstan', '199900.00', 'KG', 'KGZ']
['Laos', '236800.00', 'LA', 'LAO']
['Latvia', '64589.00', 'LV', 'LVA']
['Lebanon', '10400.00', 'LB', 'LBN']
['Lesotho', '30355.00', 'LS', 'LSO']
['Liberia', '111369.00', 'LR', 'LBR']
['Libyan Arab Jamahiriya', '1759540.00', 'LY', 'LBY']
['Liechtenstein', '160.00', 'LI', 'LIE']
['Lithuania', '65301.00', 'LT', 'LTU']
['Luxembourg', '2586.00', 'LU', 'LUX']
['Macao', '18.00', 'MO', 'MAC']
['Macedonia', '25713.00', 'MK', 'MKD']
['Madagascar', '587041.00', 'MG', 'MDG']
['Malawi', '118484.00', 'MW', 'MWI']
['Malaysia', '329758.00', 'MY', 'MYS']
['Maldives', '298.00', 'MV', 'MDV']
['Mali', '1240192.00', 'ML', 'MLI']
['Malta', '316.00', 'MT', 'MLT']
['Marshall Islands', '181.00', 'MH', 'MHL']
['Martinique', '1102.00', 'MQ', 'MTQ']
['Mauritania', '1025520.00', 'MR', 'MRT']
['Mauritius', '2040.00', 'MU', 'MUS']
['Mayotte', '373.00', 'YT', 'MYT']
['Mexico', '1958201.00', 'MX', 'MEX']
['Moldova', '33851.00', 'MD', 'MDA']
['Monaco', '1.50', 'MC', 'MCO']
['Mongolia', '1566500.00', 'MN', 'MNG']
['Montserrat', '102.00', 'MS', 'MSR']
['Morocco', '446550.00', 'MA', 'MAR']
['Mozambique', '801590.00', 'MZ', 'MOZ']
['Myanmar', '676578.00', 'MM', 'MMR']
['Namibia', '824292.00', 'NA', 'NAM']
['Nauru', '21.00', 'NR', 'NRU']
['Nepal', '147181.00', 'NP', 'NPL']
['Netherlands', '41526.00', 'NL', 'NLD']
['Netherlands Antilles', '800.00', 'AN', 'ANT']
['New Caledonia', '18575.00', 'NC', 'NCL']
['New Zealand', '270534.00', 'NZ', 'NZL']
['Nicaragua', '130000.00', 'NI', 'NIC']
['Niger', '1267000.00', 'NE', 'NER']
['Nigeria', '923768.00', 'NG', 'NGA']
['Niue', '260.00', 'NU', 'NIU']
['Norfolk Island', '36.00', 'NF', 'NFK']
['North Korea', '120538.00', 'KP', 'PRK']
['Northern Mariana Islands', '464.00', 'MP', 'MNP']
['Norway', '323877.00', 'NO', 'NOR']
['Oman', '309500.00', 'OM', 'OMN']
['Pakistan', '796095.00', 'PK', 'PAK']
['Palau', '459.00', 'PW', 'PLW']
['Palestine', '6257.00', 'PS', 'PSE']
['Panama', '75517.00', 'PA', 'PAN']
['Papua New Guinea', '462840.00', 'PG', 'PNG']
['Paraguay', '406752.00', 'PY', 'PRY']
['Peru', '1285216.00', 'PE', 'PER']
['Philippines', '300000.00', 'PH', 'PHL']
['Pitcairn', '49.00', 'PN', 'PCN']
['Poland', '323250.00', 'PL', 'POL']
['Portugal', '91982.00', 'PT', 'PRT']
['Puerto Rico', '8875.00', 'PR', 'PRI']
['Qatar', '11000.00', 'QA', 'QAT']
['Réunion', '2510.00', 'RE', 'REU']
['Romania', '238391.00', 'RO', 'ROM']
['Russian Federation', '17075400.00', 'RU', 'RUS']
['Rwanda', '26338.00', 'RW', 'RWA']
['Saint Helena', '314.00', 'SH', 'SHN']
['Saint Kitts and Nevis', '261.00', 'KN', 'KNA']
['Saint Lucia', '622.00', 'LC', 'LCA']
['Saint Pierre and Miquelon', '242.00', 'PM', 'SPM']
['Saint Vincent and the Grenadines', '388.00', 'VC', 'VCT']
['Samoa', '2831.00', 'WS', 'WSM']
['San Marino', '61.00', 'SM', 'SMR']
['Sao Tome and Principe', '964.00', 'ST', 'STP']
['Saudi Arabia', '2149690.00', 'SA', 'SAU']
['Senegal', '196722.00', 'SN', 'SEN']
['Seychelles', '455.00', 'SC', 'SYC']
['Sierra Leone', '71740.00', 'SL', 'SLE']
['Singapore', '618.00', 'SG', 'SGP']
['Slovakia', '49012.00', 'SK', 'SVK']
['Slovenia', '20256.00', 'SI', 'SVN']
['Solomon Islands', '28896.00', 'SB', 'SLB']
['Somalia', '637657.00', 'SO', 'SOM']
['South Africa', '1221037.00', 'ZA', 'ZAF']
['South Georgia and the South Sandwich Islands', '3903.00', 'GS', 'SGS']
['South Korea', '99434.00', 'KR', 'KOR']
['Spain', '505992.00', 'ES', 'ESP']
['Sri Lanka', '65610.00', 'LK', 'LKA']
['Sudan', '2505813.00', 'SD', 'SDN']
['Suriname', '163265.00', 'SR', 'SUR']
['Svalbard and Jan Mayen', '62422.00', 'SJ', 'SJM']
['Swaziland', '17364.00', 'SZ', 'SWZ']
['Sweden', '449964.00', 'SE', 'SWE']
['Switzerland', '41284.00', 'CH', 'CHE']
['Syria', '185180.00', 'SY', 'SYR']
['Taiwan', '36188.00', 'TW', 'TWN']
['Tajikistan', '143100.00', 'TJ', 'TJK']
['Tanzania', '883749.00', 'TZ', 'TZA']
['Thailand', '513115.00', 'TH', 'THA']
['The Democratic Republic of the Congo', '2344858.00', 'CD', 'COD']
['Togo', '56785.00', 'TG', 'TGO']
['Tokelau', '12.00', 'TK', 'TKL']
['Tonga', '650.00', 'TO', 'TON']
['Trinidad and Tobago', '5130.00', 'TT', 'TTO']
['Tunisia', '163610.00', 'TN', 'TUN']
['Turkey', '774815.00', 'TR', 'TUR']
['Turkmenistan', '488100.00', 'TM', 'TKM']
['Turks and Caicos Islands', '430.00', 'TC', 'TCA']
['Tuvalu', '26.00', 'TV', 'TUV']
['Uganda', '241038.00', 'UG', 'UGA']
['Ukraine', '603700.00', 'UA', 'UKR']
['United Arab Emirates', '83600.00', 'AE', 'ARE']
['United Kingdom', '242900.00', 'GB', 'GBR']
['United States', '9363520.00', 'US', 'USA']
['United States Minor Outlying Islands', '16.00', 'UM', 'UMI']
['Uruguay', '175016.00', 'UY', 'URY']
['Uzbekistan', '447400.00', 'UZ', 'UZB']
['Vanuatu', '12189.00', 'VU', 'VUT']
['Venezuela', '912050.00', 'VE', 'VEN']
['Vietnam', '331689.00', 'VN', 'VNM']
['Virgin Islands, British', '151.00', 'VG', 'VGB']
['Virgin Islands, U.S.', '347.00', 'VI', 'VIR']
['Wallis and Futuna', '200.00', 'WF', 'WLF']
['Western Sahara', '266000.00', 'EH', 'ESH']
['Yemen', '527968.00', 'YE', 'YEM']
['Yugoslavia', '102173.00', 'YU', 'YUG']
['Zambia', '752618.00', 'ZM', 'ZMB']
['Zimbabwe', '390757.00', 'ZW', 'ZWE']

##### Reading a CSV file using the DictReader class
When you use the csv.reader() function, you can access values of the CSV file using the bracket notation such as line[0], line[1], and so on. However, using the csv.reader() function has two main limitations:
<Br>
First, the way to access the values from the CSV file is not so obvious. For example, the line[0] implicitly means the country name. It would be more expressive if you can access the country name like line['country_name'].
<br>
Second, when the order of columns from the CSV file is changed or new columns are added, you need to modify the code to get the right data.
This is where the DictReader class comes into play. The DictReader class also comes from the csv module.
<br>
The DictReader class allows you to create an object like a regular CSV reader. But it maps the information of each line to a dictionary (dict) whose keys are specified by the values of the first line.
<br>
By using the DictReader class, you can access values in the country.csv file like line['name'], line['area'], line['country_code2'], and line['country_code3']

In [2]:
import csv

with open('C:/Users/admin/Downloads/country.csv', encoding="utf8") as f:
    csv_reader = csv.DictReader(f)
    # skip the header
    next(csv_reader)
    # show the data
    for line in csv_reader:
        print(f"The area of {line['name']} is {line['area']} km2")

import csv

fieldnames = ['country_name', 'area', 'code2', 'code3']

with open('C:/Users/admin/Downloads/country.csv', encoding="utf8") as f:
    csv_reader = csv.DictReader(f, fieldnames)
    next(csv_reader)
    for line in csv_reader:
        print(f"The area of {line['country_name']} is {line['area']} km2")

The area of Albania is 28748.00 km2
The area of Algeria is 2381741.00 km2
The area of American Samoa is 199.00 km2
The area of Andorra is 468.00 km2
The area of Angola is 1246700.00 km2
The area of Anguilla is 96.00 km2
The area of Antarctica is 13120000.00 km2
The area of Antigua and Barbuda is 442.00 km2
The area of Argentina is 2780400.00 km2
The area of Armenia is 29800.00 km2
The area of Aruba is 193.00 km2
The area of Australia is 7741220.00 km2
The area of Austria is 83859.00 km2
The area of Azerbaijan is 86600.00 km2
The area of Bahamas is 13878.00 km2
The area of Bahrain is 694.00 km2
The area of Bangladesh is 143998.00 km2
The area of Barbados is 430.00 km2
The area of Belarus is 207600.00 km2
The area of Belgium is 30518.00 km2
The area of Belize is 22696.00 km2
The area of Benin is 112622.00 km2
The area of Bermuda is 53.00 km2
The area of Bhutan is 47000.00 km2
The area of Bolivia is 1098581.00 km2
The area of Bosnia and Herzegovina is 51197.00 km2
The area of Botswana is 581730.00 km2
The area of Bouvet Island is 59.00 km2
The area of Brazil is 8547403.00 km2
The area of British Indian Ocean Territory is 78.00 km2
The area of Brunei is 5765.00 km2
The area of Bulgaria is 110994.00 km2
The area of Burkina Faso is 274000.00 km2
The area of Burundi is 27834.00 km2
The area of Cambodia is 181035.00 km2
The area of Cameroon is 475442.00 km2
The area of Canada is 9970610.00 km2
The area of Cape Verde is 4033.00 km2
The area of Cayman Islands is 264.00 km2
The area of Central African Republic is 622984.00 km2
The area of Chad is 1284000.00 km2
The area of Chile is 756626.00 km2
The area of China is 9572900.00 km2
The area of Christmas Island is 135.00 km2
The area of Cocos (Keeling) Islands is 14.00 km2
The area of Colombia is 1138914.00 km2
The area of Comoros is 1862.00 km2
The area of Congo is 342000.00 km2
The area of Cook Islands is 236.00 km2
The area of Costa Rica is 51100.00 km2
The area of Côte d’Ivoire is 322463.00 km2
The area of Croatia is 56538.00 km2
The area of Cuba is 110861.00 km2
The area of Cyprus is 9251.00 km2
The area of Czech Republic is 78866.00 km2
The area of Denmark is 43094.00 km2
The area of Djibouti is 23200.00 km2
The area of Dominica is 751.00 km2
The area of Dominican Republic is 48511.00 km2
The area of East Timor is 14874.00 km2
The area of Ecuador is 283561.00 km2
The area of Egypt is 1001449.00 km2
The area of El Salvador is 21041.00 km2
The area of Equatorial Guinea is 28051.00 km2
The area of Eritrea is 117600.00 km2
The area of Estonia is 45227.00 km2
The area of Ethiopia is 1104300.00 km2
The area of Falkland Islands is 12173.00 km2
The area of Faroe Islands is 1399.00 km2
The area of Federated States of Micronesia is 702.00 km2
The area of Fiji Islands is 18274.00 km2
The area of Finland is 338145.00 km2
The area of France is 551500.00 km2
The area of French Guiana is 90000.00 km2
The area of French Polynesia is 4000.00 km2
The area of French Southern territories is 7780.00 km2
The area of Gabon is 267668.00 km2
The area of Gambia is 11295.00 km2
The area of Georgia is 69700.00 km2
The area of Germany is 357022.00 km2
The area of Ghana is 238533.00 km2
The area of Gibraltar is 6.00 km2
The area of Greece is 131626.00 km2
The area of Greenland is 2166090.00 km2
The area of Grenada is 344.00 km2
The area of Guadeloupe is 1705.00 km2
The area of Guam is 549.00 km2
The area of Guatemala is 108889.00 km2
The area of Guinea is 245857.00 km2
The area of Guinea-Bissau is 36125.00 km2
The area of Guyana is 214969.00 km2
The area of Haiti is 27750.00 km2
The area of Heard Island and McDonald Islands is 359.00 km2
The area of Holy See (Vatican City State) is 0.40 km2
The area of Honduras is 112088.00 km2
The area of Hong Kong is 1075.00 km2
The area of Hungary is 93030.00 km2
The area of Iceland is 103000.00 km2
The area of India is 3287263.00 km2
The area of Indonesia is 1904569.00 km2
The area of Iran is 1648195.00 km2
The area of Iraq is 438317.00 km2
The area of Ireland is 70273.00 km2
The area of Israel is 21056.00 km2
The area of Italy is 301316.00 km2
The area of Jamaica is 10990.00 km2
The area of Japan is 377829.00 km2
The area of Jordan is 88946.00 km2
The area of Kazakstan is 2724900.00 km2
The area of Kenya is 580367.00 km2
The area of Kiribati is 726.00 km2
The area of Kuwait is 17818.00 km2
The area of Kyrgyzstan is 199900.00 km2
The area of Laos is 236800.00 km2
The area of Latvia is 64589.00 km2
The area of Lebanon is 10400.00 km2
The area of Lesotho is 30355.00 km2
The area of Liberia is 111369.00 km2
The area of Libyan Arab Jamahiriya is 1759540.00 km2
The area of Liechtenstein is 160.00 km2
The area of Lithuania is 65301.00 km2
The area of Luxembourg is 2586.00 km2
The area of Macao is 18.00 km2
The area of Macedonia is 25713.00 km2
The area of Madagascar is 587041.00 km2
The area of Malawi is 118484.00 km2
The area of Malaysia is 329758.00 km2
The area of Maldives is 298.00 km2
The area of Mali is 1240192.00 km2
The area of Malta is 316.00 km2
The area of Marshall Islands is 181.00 km2
The area of Martinique is 1102.00 km2
The area of Mauritania is 1025520.00 km2
The area of Mauritius is 2040.00 km2
The area of Mayotte is 373.00 km2
The area of Mexico is 1958201.00 km2
The area of Moldova is 33851.00 km2
The area of Monaco is 1.50 km2
The area of Mongolia is 1566500.00 km2
The area of Montserrat is 102.00 km2
The area of Morocco is 446550.00 km2
The area of Mozambique is 801590.00 km2
The area of Myanmar is 676578.00 km2
The area of Namibia is 824292.00 km2
The area of Nauru is 21.00 km2
The area of Nepal is 147181.00 km2
The area of Netherlands is 41526.00 km2
The area of Netherlands Antilles is 800.00 km2
The area of New Caledonia is 18575.00 km2
The area of New Zealand is 270534.00 km2
The area of Nicaragua is 130000.00 km2
The area of Niger is 1267000.00 km2
The area of Nigeria is 923768.00 km2
The area of Niue is 260.00 km2
The area of Norfolk Island is 36.00 km2
The area of North Korea is 120538.00 km2
The area of Northern Mariana Islands is 464.00 km2
The area of Norway is 323877.00 km2
The area of Oman is 309500.00 km2
The area of Pakistan is 796095.00 km2
The area of Palau is 459.00 km2
The area of Palestine is 6257.00 km2
The area of Panama is 75517.00 km2
The area of Papua New Guinea is 462840.00 km2
The area of Paraguay is 406752.00 km2
The area of Peru is 1285216.00 km2
The area of Philippines is 300000.00 km2
The area of Pitcairn is 49.00 km2
The area of Poland is 323250.00 km2
The area of Portugal is 91982.00 km2
The area of Puerto Rico is 8875.00 km2
The area of Qatar is 11000.00 km2
The area of Réunion is 2510.00 km2
The area of Romania is 238391.00 km2
The area of Russian Federation is 17075400.00 km2
The area of Rwanda is 26338.00 km2
The area of Saint Helena is 314.00 km2
The area of Saint Kitts and Nevis is 261.00 km2
The area of Saint Lucia is 622.00 km2
The area of Saint Pierre and Miquelon is 242.00 km2
The area of Saint Vincent and the Grenadines is 388.00 km2
The area of Samoa is 2831.00 km2
The area of San Marino is 61.00 km2
The area of Sao Tome and Principe is 964.00 km2
The area of Saudi Arabia is 2149690.00 km2
The area of Senegal is 196722.00 km2
The area of Seychelles is 455.00 km2
The area of Sierra Leone is 71740.00 km2
The area of Singapore is 618.00 km2
The area of Slovakia is 49012.00 km2
The area of Slovenia is 20256.00 km2
The area of Solomon Islands is 28896.00 km2
The area of Somalia is 637657.00 km2
The area of South Africa is 1221037.00 km2
The area of South Georgia and the South Sandwich Islands is 3903.00 km2
The area of South Korea is 99434.00 km2
The area of Spain is 505992.00 km2
The area of Sri Lanka is 65610.00 km2
The area of Sudan is 2505813.00 km2
The area of Suriname is 163265.00 km2
The area of Svalbard and Jan Mayen is 62422.00 km2
The area of Swaziland is 17364.00 km2
The area of Sweden is 449964.00 km2
The area of Switzerland is 41284.00 km2
The area of Syria is 185180.00 km2
The area of Taiwan is 36188.00 km2
The area of Tajikistan is 143100.00 km2
The area of Tanzania is 883749.00 km2
The area of Thailand is 513115.00 km2
The area of The Democratic Republic of the Congo is 2344858.00 km2
The area of Togo is 56785.00 km2
The area of Tokelau is 12.00 km2
The area of Tonga is 650.00 km2
The area of Trinidad and Tobago is 5130.00 km2
The area of Tunisia is 163610.00 km2
The area of Turkey is 774815.00 km2
The area of Turkmenistan is 488100.00 km2
The area of Turks and Caicos Islands is 430.00 km2
The area of Tuvalu is 26.00 km2
The area of Uganda is 241038.00 km2
The area of Ukraine is 603700.00 km2
The area of United Arab Emirates is 83600.00 km2
The area of United Kingdom is 242900.00 km2
The area of United States is 9363520.00 km2
The area of United States Minor Outlying Islands is 16.00 km2
The area of Uruguay is 175016.00 km2
The area of Uzbekistan is 447400.00 km2
The area of Vanuatu is 12189.00 km2
The area of Venezuela is 912050.00 km2
The area of Vietnam is 331689.00 km2
The area of Virgin Islands, British is 151.00 km2
The area of Virgin Islands, U.S. is 347.00 km2
The area of Wallis and Futuna is 200.00 km2
The area of Western Sahara is 266000.00 km2
The area of Yemen is 527968.00 km2
The area of Yugoslavia is 102173.00 km2
The area of Zambia is 752618.00 km2
The area of Zimbabwe is 390757.00 km2
The area of Afghanistan is 652090.00 km2
The area of Albania is 28748.00 km2
The area of Algeria is 2381741.00 km2
The area of American Samoa is 199.00 km2
The area of Andorra is 468.00 km2
The area of Angola is 1246700.00 km2
The area of Anguilla is 96.00 km2
The area of Antarctica is 13120000.00 km2
The area of Antigua and Barbuda is 442.00 km2
The area of Argentina is 2780400.00 km2
The area of Armenia is 29800.00 km2
The area of Aruba is 193.00 km2
The area of Australia is 7741220.00 km2
The area of Austria is 83859.00 km2
The area of Azerbaijan is 86600.00 km2
The area of Bahamas is 13878.00 km2
The area of Bahrain is 694.00 km2
The area of Bangladesh is 143998.00 km2
The area of Barbados is 430.00 km2
The area of Belarus is 207600.00 km2
The area of Belgium is 30518.00 km2
The area of Belize is 22696.00 km2
The area of Benin is 112622.00 km2
The area of Bermuda is 53.00 km2
The area of Bhutan is 47000.00 km2
The area of Bolivia is 1098581.00 km2
The area of Bosnia and Herzegovina is 51197.00 km2
The area of Botswana is 581730.00 km2
The area of Bouvet Island is 59.00 km2
The area of Brazil is 8547403.00 km2
The area of British Indian Ocean Territory is 78.00 km2
The area of Brunei is 5765.00 km2
The area of Bulgaria is 110994.00 km2
The area of Burkina Faso is 274000.00 km2
The area of Burundi is 27834.00 km2
The area of Cambodia is 181035.00 km2
The area of Cameroon is 475442.00 km2
The area of Canada is 9970610.00 km2
The area of Cape Verde is 4033.00 km2
The area of Cayman Islands is 264.00 km2
The area of Central African Republic is 622984.00 km2
The area of Chad is 1284000.00 km2
The area of Chile is 756626.00 km2
The area of China is 9572900.00 km2
The area of Christmas Island is 135.00 km2
The area of Cocos (Keeling) Islands is 14.00 km2
The area of Colombia is 1138914.00 km2
The area of Comoros is 1862.00 km2
The area of Congo is 342000.00 km2
The area of Cook Islands is 236.00 km2
The area of Costa Rica is 51100.00 km2
The area of Côte d’Ivoire is 322463.00 km2
The area of Croatia is 56538.00 km2
The area of Cuba is 110861.00 km2
The area of Cyprus is 9251.00 km2
The area of Czech Republic is 78866.00 km2
The area of Denmark is 43094.00 km2
The area of Djibouti is 23200.00 km2
The area of Dominica is 751.00 km2
The area of Dominican Republic is 48511.00 km2
The area of East Timor is 14874.00 km2
The area of Ecuador is 283561.00 km2
The area of Egypt is 1001449.00 km2
The area of El Salvador is 21041.00 km2
The area of Equatorial Guinea is 28051.00 km2
The area of Eritrea is 117600.00 km2
The area of Estonia is 45227.00 km2
The area of Ethiopia is 1104300.00 km2
The area of Falkland Islands is 12173.00 km2
The area of Faroe Islands is 1399.00 km2
The area of Federated States of Micronesia is 702.00 km2
The area of Fiji Islands is 18274.00 km2
The area of Finland is 338145.00 km2
The area of France is 551500.00 km2
The area of French Guiana is 90000.00 km2
The area of French Polynesia is 4000.00 km2
The area of French Southern territories is 7780.00 km2
The area of Gabon is 267668.00 km2
The area of Gambia is 11295.00 km2
The area of Georgia is 69700.00 km2
The area of Germany is 357022.00 km2
The area of Ghana is 238533.00 km2
The area of Gibraltar is 6.00 km2
The area of Greece is 131626.00 km2
The area of Greenland is 2166090.00 km2
The area of Grenada is 344.00 km2
The area of Guadeloupe is 1705.00 km2
The area of Guam is 549.00 km2
The area of Guatemala is 108889.00 km2
The area of Guinea is 245857.00 km2
The area of Guinea-Bissau is 36125.00 km2
The area of Guyana is 214969.00 km2
The area of Haiti is 27750.00 km2
The area of Heard Island and McDonald Islands is 359.00 km2
The area of Holy See (Vatican City State) is 0.40 km2
The area of Honduras is 112088.00 km2
The area of Hong Kong is 1075.00 km2
The area of Hungary is 93030.00 km2
The area of Iceland is 103000.00 km2
The area of India is 3287263.00 km2
The area of Indonesia is 1904569.00 km2
The area of Iran is 1648195.00 km2
The area of Iraq is 438317.00 km2
The area of Ireland is 70273.00 km2
The area of Israel is 21056.00 km2
The area of Italy is 301316.00 km2
The area of Jamaica is 10990.00 km2
The area of Japan is 377829.00 km2
The area of Jordan is 88946.00 km2
The area of Kazakstan is 2724900.00 km2
The area of Kenya is 580367.00 km2
The area of Kiribati is 726.00 km2
The area of Kuwait is 17818.00 km2
The area of Kyrgyzstan is 199900.00 km2
The area of Laos is 236800.00 km2
The area of Latvia is 64589.00 km2
The area of Lebanon is 10400.00 km2
The area of Lesotho is 30355.00 km2
The area of Liberia is 111369.00 km2
The area of Libyan Arab Jamahiriya is 1759540.00 km2
The area of Liechtenstein is 160.00 km2
The area of Lithuania is 65301.00 km2
The area of Luxembourg is 2586.00 km2
The area of Macao is 18.00 km2
The area of Macedonia is 25713.00 km2
The area of Madagascar is 587041.00 km2
The area of Malawi is 118484.00 km2
The area of Malaysia is 329758.00 km2
The area of Maldives is 298.00 km2
The area of Mali is 1240192.00 km2
The area of Malta is 316.00 km2
The area of Marshall Islands is 181.00 km2
The area of Martinique is 1102.00 km2
The area of Mauritania is 1025520.00 km2
The area of Mauritius is 2040.00 km2
The area of Mayotte is 373.00 km2
The area of Mexico is 1958201.00 km2
The area of Moldova is 33851.00 km2
The area of Monaco is 1.50 km2
The area of Mongolia is 1566500.00 km2
The area of Montserrat is 102.00 km2
The area of Morocco is 446550.00 km2
The area of Mozambique is 801590.00 km2
The area of Myanmar is 676578.00 km2
The area of Namibia is 824292.00 km2
The area of Nauru is 21.00 km2
The area of Nepal is 147181.00 km2
The area of Netherlands is 41526.00 km2
The area of Netherlands Antilles is 800.00 km2
The area of New Caledonia is 18575.00 km2
The area of New Zealand is 270534.00 km2
The area of Nicaragua is 130000.00 km2
The area of Niger is 1267000.00 km2
The area of Nigeria is 923768.00 km2
The area of Niue is 260.00 km2
The area of Norfolk Island is 36.00 km2
The area of North Korea is 120538.00 km2
The area of Northern Mariana Islands is 464.00 km2
The area of Norway is 323877.00 km2
The area of Oman is 309500.00 km2
The area of Pakistan is 796095.00 km2
The area of Palau is 459.00 km2
The area of Palestine is 6257.00 km2
The area of Panama is 75517.00 km2
The area of Papua New Guinea is 462840.00 km2
The area of Paraguay is 406752.00 km2
The area of Peru is 1285216.00 km2
The area of Philippines is 300000.00 km2
The area of Pitcairn is 49.00 km2
The area of Poland is 323250.00 km2
The area of Portugal is 91982.00 km2
The area of Puerto Rico is 8875.00 km2
The area of Qatar is 11000.00 km2
The area of Réunion is 2510.00 km2
The area of Romania is 238391.00 km2
The area of Russian Federation is 17075400.00 km2
The area of Rwanda is 26338.00 km2
The area of Saint Helena is 314.00 km2
The area of Saint Kitts and Nevis is 261.00 km2
The area of Saint Lucia is 622.00 km2
The area of Saint Pierre and Miquelon is 242.00 km2
The area of Saint Vincent and the Grenadines is 388.00 km2
The area of Samoa is 2831.00 km2
The area of San Marino is 61.00 km2
The area of Sao Tome and Principe is 964.00 km2
The area of Saudi Arabia is 2149690.00 km2
The area of Senegal is 196722.00 km2
The area of Seychelles is 455.00 km2
The area of Sierra Leone is 71740.00 km2
The area of Singapore is 618.00 km2
The area of Slovakia is 49012.00 km2
The area of Slovenia is 20256.00 km2
The area of Solomon Islands is 28896.00 km2
The area of Somalia is 637657.00 km2
The area of South Africa is 1221037.00 km2
The area of South Georgia and the South Sandwich Islands is 3903.00 km2
The area of South Korea is 99434.00 km2
The area of Spain is 505992.00 km2
The area of Sri Lanka is 65610.00 km2
The area of Sudan is 2505813.00 km2
The area of Suriname is 163265.00 km2
The area of Svalbard and Jan Mayen is 62422.00 km2
The area of Swaziland is 17364.00 km2
The area of Sweden is 449964.00 km2
The area of Switzerland is 41284.00 km2
The area of Syria is 185180.00 km2
The area of Taiwan is 36188.00 km2
The area of Tajikistan is 143100.00 km2
The area of Tanzania is 883749.00 km2
The area of Thailand is 513115.00 km2
The area of The Democratic Republic of the Congo is 2344858.00 km2
The area of Togo is 56785.00 km2
The area of Tokelau is 12.00 km2
The area of Tonga is 650.00 km2
The area of Trinidad and Tobago is 5130.00 km2
The area of Tunisia is 163610.00 km2
The area of Turkey is 774815.00 km2
The area of Turkmenistan is 488100.00 km2
The area of Turks and Caicos Islands is 430.00 km2
The area of Tuvalu is 26.00 km2
The area of Uganda is 241038.00 km2
The area of Ukraine is 603700.00 km2
The area of United Arab Emirates is 83600.00 km2
The area of United Kingdom is 242900.00 km2
The area of United States is 9363520.00 km2
The area of United States Minor Outlying Islands is 16.00 km2
The area of Uruguay is 175016.00 km2
The area of Uzbekistan is 447400.00 km2
The area of Vanuatu is 12189.00 km2
The area of Venezuela is 912050.00 km2
The area of Vietnam is 331689.00 km2
The area of Virgin Islands, British is 151.00 km2
The area of Virgin Islands, U.S. is 347.00 km2
The area of Wallis and Futuna is 200.00 km2
The area of Western Sahara is 266000.00 km2
The area of Yemen is 527968.00 km2
The area of Yugoslavia is 102173.00 km2
The area of Zambia is 752618.00 km2
The area of Zimbabwe is 390757.00 km2

#### Steps for writing a CSV file
To write data into a CSV file, you follow these steps:
<br>
First, open the CSV file for writing (w mode) by using the open() function.
<br>
Second, create a CSV writer object by calling the writer() function of the csv module.
<br>
Third, write data to CSV file by calling the writerow() or writerows() method of the CSV writer object.
Finally, close the file once you complete writing data to it.

In [5]:
import csv  

header = ['name', 'area', 'country_code2', 'country_code3']
data = ['Afghanistan', 652090, 'AF', 'AFG']

with open('countries.csv', 'w', encoding='UTF8') as f:
    writer = csv.writer(f)

    # write the header
    writer.writerow(header)

    # write the data
    writer.writerow(data)


import csv

header = ['name', 'area', 'country_code2', 'country_code3']
data = [
    ['Albania', 28748, 'AL', 'ALB'],
    ['Algeria', 2381741, 'DZ', 'DZA'],
    ['American Samoa', 199, 'AS', 'ASM'],
    ['Andorra', 468, 'AD', 'AND'],
    ['Angola', 1246700, 'AO', 'AGO']
]

with open('countries.csv', 'w', encoding='UTF8', newline='') as f:
    writer = csv.writer(f)

    # write the header
    writer.writerow(header)

    # write multiple rows
    writer.writerows(data)


##### Writing to CSV files using the DictWriter class

<pre>
First, define variables that hold the field names and data rows of the CSV file.
Next, open the CSV file for writing by calling the open() function.
Then, create a new instance of the DictWriter class by passing the file object (f) and fieldnames argument to it.
After that, write the header for the CSV file by calling the writeheader() method.
Finally, write data rows to the CSV file using the writerows() method.
</pre>

In [ ]:
import csv

# csv header
fieldnames = ['name', 'area', 'country_code2', 'country_code3']

# csv data
rows = [
    {'name': 'Albania',
    'area': 28748,
    'country_code2': 'AL',
    'country_code3': 'ALB'},
    {'name': 'Algeria',
    'area': 2381741,
    'country_code2': 'DZ',
    'country_code3': 'DZA'},
    {'name': 'American Samoa',
    'area': 199,
    'country_code2': 'AS',
    'country_code3': 'ASM'}
]

with open('countries.csv', 'w', encoding='UTF8', newline='') as f:
    writer = csv.DictWriter(f, fieldnames=fieldnames)
    writer.writeheader()
    writer.writerows(rows)

#### Delete File

In [ ]:
import os

os.remove('readme.txt')

import os

filename = 'readme.txt'
if os.path.exists(filename):
    os.remove(filename)

In [7]:
class Students:
    def __call__(self):
        print('hello ')
student1 = Students()
# all classes in python are callable
# we can also make the istance of class callable by using  '__call__' inside class

In [12]:
type(student1)
callable(student1)
student1()

hello

# OOP

#### Class

What is a class explain with a real world example?
Each bicycle was built from the same set of blueprints and therefore contains the same components. In object-oriented terms, we say that your bicycle is an instance of the class of objects known as bicycles. A class is the blueprint from which individual objects are created.

#### APIE
##### Abstraction
##### Polymorphism
##### Inheritance
<img src="https://docs.oracle.com/javase/tutorial/figures/java/concepts-bikeHierarchy.gif"><br>
##### Encapsulation
<pre>What is a real life example of encapsulation?
Real world example of encapsulation

The bag contains different stuffs like pen, pencil, notebook etc within it, in order to get any stuff you need to open that bag, similarly in java an encapsulation unit contains it's data and behavior within it and in order to access them you need an object of that unit.</pre>

##### Define instance attributes
Python is dynamic. It means that you can add an attribute to an instance of a class dynamically at runtime.

In [16]:
class Students:
    pass
student1=Students
student1.name='hello world'
print(type(student1),type(Students))
student1=Students()
print(type(student1),type(Students))#__main__ refers to the current module
print(student1.name)

<class 'type'> <class 'type'>
<class '__main__.Students'> <class 'type'>
hello world

In [26]:
from sample import Colleges
ne=Colleges()
type(ne)

sample.Colleges

<pre>The double underscores at both sides of the __init__() method indicate that Python will use the method internally. In other words, you should not explicitly call this method.

Since Python will automatically call the __init__() method immediately after creating a new object, you can use the __init__() method to initialize the object’s attributes.</pre>

In [29]:
#To define and initialize an attribute for all instances of a class, you use the __init__
class Students:
    def __init__(self, name, age):#, the self is the instance of the Person class.
        self.name = name
        self.age = age
        #Python automatically calls the __init__ method to initialize the instance attributes

student1=Students('raj',34)
print(student1.age,student1.name)#To access an instance attribute, you use the dot notation. 
student1.age=25
print(student1.age,student1.name)

34 raj
25 raj

In [30]:
class Students:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def greet(self):
        return f"Hi, it's {self.name}."
student1=Students('raj',34)
student1.greet()

"Hi, it's raj."

In [36]:
#Define class attributes
#Unlike instance attributes, class attributes are shared by all instances of the class.
class Students:
    counter = 0

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def greet(self):
        return f"Hi, it's {self.name}."
#class attribute can be accessed using class name or from any instances of the Class
Students.counter=0
print(Students.greet(student1))
student1.counter=1
print(student1.counter)

Hi, it's raj.
1

In [9]:
class Stu:
    tr='hi'
s1=Stu()
s2=Stu()
s1.tr='hello'
print(type(s1.tr),type(s2.tr))
del s1.tr
print(s1.tr)
del s1
print(s1.tr)

<class 'str'> <class 'str'>
hi

NameError: name 's1' is not defined

In [25]:
#Define class method

# class method is shared by all instances of the class.
# The first argument of a class method is the class itself. By convention, its name is cls.
#Python automatically passes this argument to the class method. 
#Also, you use the @classmethod decorator to decorate a class method.
class Students:
    counter = 0

    def __init__(self, name, age):
        self.name = name
        self.age = age
        #Students.counter += 1

    def greet(self):
        return f"Hi, it's {self.name}."

    @classmethod
    def create_anonymous(cls,num):
        cls.counter=num
        return Students('Anonymous2', 22)
    
anonymous = Students.create_anonymous(123)
Students.create_anonymous(12)
print(anonymous.name)  # Anonymous
a=Students('john',32)
b=a.create_anonymous(67)

print(a.create_anonymous(62))
print(b.name)

Anonymous2
<__main__.Students object at 0x0000027A31BD4B10>
Anonymous2

In [27]:
Students.counter

62

In [58]:
#Define static method
#A static method is not bound to a class or any instances of the class.
class TemperatureConverter:
    @staticmethod
    def celsius_to_fahrenheit(c):
        return 9 * c / 5 + 32

    @staticmethod
    def fahrenheit_to_celsius(f):
        return 5 * (f - 32) / 9
#To call a static method, you use the ClassName.static_method_name()
TemperatureConverter.celsius_to_fahrenheit(30)
t1=TemperatureConverter()
t1.celsius_to_fahrenheit(32)

#Notice that Python doesn’t implicitly pass an instance (self) as well as class (cls)
# as the first argument of a static method.

89.6

In [78]:
class TemperatureConverter:
    KEVIN = 'K',
    FAHRENHEIT = 'F'
    CELSIUS = 'C'

    @staticmethod
    def celsius_to_fahrenheit(c):
        return 9*c/5 + 32

    @staticmethod
    def fahrenheit_to_celsius(f):
        return 5*(f-32)/9

    @staticmethod
    def celsius_to_kelvin(c):
        return c + 273.15

    @staticmethod
    def kelvin_to_celsius(k):
        return k - 273.15

    @staticmethod
    def fahrenheit_to_kelvin(f):
        return 5*(f+459.67)/9

    @staticmethod
    def kelvin_to_fahrenheit(k):
        return 9*k/5 - 459.67

    @staticmethod
    def format(value, unit):
        symbol = ''
        if unit == TemperatureConverter.FAHRENHEIT:
            symbol = '°F'
        elif unit == TemperatureConverter.CELSIUS:
            symbol = '°C'
        elif unit == TemperatureConverter.KEVIN:
            symbol = '°K'

        return f'{value}{symbol}'
f = TemperatureConverter.celsius_to_fahrenheit(35)
print(TemperatureConverter.format(f, TemperatureConverter.FAHRENHEIT))

95.0°F

In [57]:
#Single inheritance
class Person:
    counter = 0

    def __init__(self, name, age):
        self.name = name
        self.age = age
        Person.counter += 1

    def greet(self):
        return f"Hi, it's {self.name}."

    @classmethod
    def create_anonymous(cls):
        return Person('Anonymous', 22)
    
class Employee(Person):
    def __init__(self, name, age, job_title):
        super().__init__(name, age)
        self.job_title = job_title

    def greet(self):
        return super().greet() + f" I'm a {self.job_title}."
emp1=Employee('john',34,'Developer')
emp1.greet()

"Hi, it's john. I'm a Developer."

##### Object
<pre>
An object is a container that contains data and functionality.

The data represents the object at a particular moment in time. Therefore, the data of an object is called the state. Python uses attributes to model the state of an object.

The functionality represents the behaviors of an object. Python uses functions to model the behaviors. When a function is associated with an object, it becomes a method of the object.

In other words, an object is a container that contains the state and methods.
</pre>
##### CLass
<pre>
A class is also an object in Python
Everything in Python is an object, including classes.

When you define the Person class, Python creates an object with the name Person. The Person object has attributes. For example, you can find its name using the __name__ attribute:
</pre>

In [68]:
print(Person.__name__)#The Person object has the type of type:
#class also has a behavior. For example, it can create a new instance:
print(isinstance(Person, type)) # True

Person
True

A class is an object which is an instance of the type class.
Class variables are attributes of the class object.
Use dot notation or getattr() function to get the value of a class attribute.
Use dot notation or setattr() function to set the value of a class attribute.
Python is a dynamic language. Therefore, you can assign a class variable to a class at runtime.
Python stores class variables in the __dict__ attribute. The __dict__ attribute is a dictionary.

In [69]:
from pprint import pprint


class HtmlDocument:
    extension = 'html'
    version = '5'


HtmlDocument.media_type = 'text/html'

pprint(HtmlDocument.__dict__)

mappingproxy({'__dict__': <attribute '__dict__' of 'HtmlDocument' objects>,
              '__doc__': None,
              '__module__': '__main__',
              '__weakref__': <attribute '__weakref__' of 'HtmlDocument' objects>,
              'extension': 'html',
              'media_type': 'text/html',
              'version': '5'})

<pre>
Features	    class methods	  Instance methods
Binding	          Class	          An instance of the class
Calling     	  Class.method()	  object.method()
Accessing	    Class attributes  Instance & class attributes
</pre>

#### Introduction to encapsulation in Python
Encapsulation is one of the four fundamental concepts in object-oriented programming including abstraction, encapsulation, inheritance, and polymorphism.
Encapsulation is the packing of data and functions that work on that data within a single object. By doing so, you can hide the internal state of the object from the outside. This is known as information hiding.

A class is an example of encapsulation. A class bundles data and methods into a single unit. And a class provides the access to its attributes via methods.

In [70]:
class Counter:
    def __init__(self):
        self.current = 0

    def increment(self):
        self.current += 1

    def value(self):
        return self.current

    def reset(self):
        self.current = 0
counter = Counter()


counter.increment()
counter.increment()
counter.increment()

print(counter.value())


# but have one issue
counter = Counter()

counter.increment()
counter.increment()
counter.current = -999

print(counter.value())

3
-999

So how do you prevent the current attribute from modifying outside of the Counter class?

That’s why private attributes come into play.
#### Private attributes
Private attributes can be only accessible from the methods of the class. In other words, they cannot be accessible from outside of the class.

Python doesn’t have a concept of private attributes. In other words, all attributes are accessible from the outside of a class.

By convention, you can define a private attribute by prefixing a single underscore (_):

In [73]:
class Counter:
    def __init__(self):
        self._current = 0

    def increment(self):
        self._current += 1

    def value(self):
        return self._current

    def reset(self):
        self._current = 0
counter=Counter()
counter._current=999
counter._current

999

Name mangling with double underscores
If you prefix an attribute name with double underscores (__) like this:
The main purpose of mangling is to make class attributes more "private" and to avoid accidental name conflicts, especially in the context of inheritance.

__attribute
Python will automatically change the name of the __attribute to:

_class__attribute

In [16]:
class Counter:
    def __init__(self):
        cu=0
        self.__current = 0

    def increment(self):
        self.__current += 1

    def value(self):
        return self.__current

    def reset(self):
        self.__current = 0

counter = Counter()
print(counter._Counter__current)

class c1(Counter):
    def __init__(self):
        super.cu=2
        print(self._Counter__current)

0

In [17]:
counter._Counter__current=1
print(counter._Counter__current)
Counter._Counter__current=2
print(counter._Counter__current)

c=c1()

print(counter._Counter__current)

1
1

TypeError: cannot set 'cu' attribute of immutable type 'super'

In [79]:
# __str__
class Person:
    def __init__(self, first_name, last_name, age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
person = Person('John', 'Doe', 25)
print(person)
class Person:
    def __init__(self, first_name, last_name, age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age

    def __str__(self):
        return f'Person({self.first_name},{self.last_name},{self.age})'
person = Person('John', 'Doe', 25)
print(person)

<__main__.Person object at 0x000001659D773BD0>
Person(John,Doe,25)

In [18]:
class Parent:
    def __init__(self, name):
        self.name = name

    def greet(self):
        print(f"Hello, I'm {self.name}")

class Child(Parent):
    def __init__(self, name, age):
        # Call the constructor of the parent class
        super().__init__(name)
        self.age = age

    def introduce(self):
        # Access the attribute of the parent class
        print(f"My name is {self.name} and I'm {self.age} years old")

    def greet(self):
        # Call the method of the parent class using super()
        super().greet()
        print("I'm a child class!")

# Create an instance of the child class
child_instance = Child(name="John", age=10)

# Access attributes and call methods
child_instance.introduce()
child_instance.greet()

My name is John and I'm 10 years old
Hello, I'm John
I'm a child class!

In [9]:
class Parent:
    class_attribute = "I am a class attribute"

    def __init__(self, name):
        self.name = name
        
    def instance_method(self):
        print(f"Hello, I'm {self.name}, an instance method")

    @classmethod
    def class_method(cls):
        print(f"This is a class method in {cls.__name__}")

    @staticmethod
    def static_method():
        print("This is a static method")


class Child(Parent):
    def __init__(self, name, age):
        super().__init__(name)
        self.age = age

    def child_method(self):
        print(f"I'm {self.name}, {self.age} years old, and a child method")

    @classmethod
    def child_class_method(cls):
        print(f"This is a child class method in {cls.__name__}")

# Create instances of both Parent and Child classes
parent_instance = Parent(name="ParentName")
child_instance = Child(name="ChildName", age=5)

# Accessing class attribute
print(parent_instance.class_attribute)
print(child_instance.class_attribute)

# Calling instance methods
parent_instance.instance_method()
child_instance.instance_method()

# Calling class methods
Parent.class_method()
Child.class_method()

# Calling static methods
Parent.static_method()
Child.static_method()

# Calling child-specific methods
child_instance.child_method()
Child.child_class_method()
child_instance.class_method()

I am a class attribute
I am a class attribute
Hello, I'm ParentName, an instance method
Hello, I'm ChildName, an instance method
This is a class method in Parent
This is a class method in Child
This is a static method
This is a static method
I'm ChildName, 5 years old, and a child method
This is a child class method in Child
This is a class method in Child

<pre>We can also override attribute also
Use isinstance() to check if an object is an instance of a class.
Use issubclass() to check if a class is a subclass of another class.
and every class is subclass of object class
</pre>